<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/default/css/prettify.css" />
        <link rel="stylesheet" href="/default/css/programming-idioms-minimalistic.css" />

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    </head>
    <body>
        <div id="app">
            <div v-if="!idiom">
                <!-- Idiom is still loading -->
                ø
            </div>
            <div class="idiom" v-if="idiom">
                <div class="summary">
                    <div class="id">Idiom #{{ idiom.Id }}</div>
                    <h1 class="title">{{ idiom.Title }}</h1>
                    <div class="lead-paragraph" v-html="idiom.LeadParagraphEmphasized"></div>
                </div>
                <div class="impls">
                    <div class="impl" v-for="impl in idiom.Implementations">
                        <div class="lang">{{ impl.LanguageName }}</div>
                        <div class="imports-and-code">
                            <pre class="imports prettyprint" v-if="impl.ImportsBlock">{{ impl.ImportsBlock }}</pre>
                            <pre class="code prettyprint" v-bind:class="impl.PrettyClass">{{ impl.CodeBlock }}</pre>
                        </div>
                        <div class="comment" v-if="impl.AuthorCommentEmphasized" v-html="impl.AuthorCommentEmphasized"></div>
                        <div class="link demo" v-if="impl.DemoURL"><a v-bind:href="impl.DemoURL">Demo</a></div>
                        <div class="link doc" v-if="impl.DocumentationURL"><a v-bind:href="impl.DocumentationURL">Doc</a></div>
                        <div class="link origin" v-if="impl.OriginalAttributionURL"><a v-bind:href="impl.OriginalAttributionURL">Origin</a></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/default/js/prettify.js"></script>
        <script src="/default/js/prettify-extra-languages.js"></script>
        
        <script src="/default/js/vue/programming-idioms.js"></script>
        <script src="/default/js/vue/idiom-detail.js"></script>
    </body>
</html>