{{define "page-backlog-language"}}
{{template "prologue"}}  
{{template "head" .PageMeta}}  
<body class="backlog">
<div class="page-holder">
	{{template "header-small" .}}  
	<div class="page-content container-fluid">

        <h2>Community backlog for {{.Lang | printNiceLang}}</h2>


        {{if .CurationSuggestions}}
            <div id="curation">
                <h3>Expert validation</h3>
                It is extremely valuable to curate the {{.Lang | printNiceLang}} contents. 
                Would you like to review these implementations?
                If they can be improved, please help yourself. 
                If you know a better way, please create a distinct entry. 
                If they're broken, please flag them.
                
                <div class="curation">
                    <table class="singletons">
                        {{range .CurationSuggestions}}
                            {{$impl := index .Implementations 0}}                         
                            <tr>
                                <td>
                                </td>
                                <td class="idiom-header" colspan="2" >
                                    <div class="span7">
                                        <h3>Idiom #{{.Id}} {{.Title}}</h3>
                                        <p class="idiom-lead-paragraph identifier-emphasize">{{markup2CSS .LeadParagraph}}</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="impl-actions" data-idiom-id="{{.Id}}" data-impl-id="{{$impl.Id}}">
                                    <button class="btn-warning edit">Edit implementation</button> <br/>
                                    <button class="btn-warning view">View full idiom</button> <br/>
                                    <button class="btn-warning flag">Flag</button> <br/>
                                    <button class="btn-warning mark-good">Mark as good</button>
                                </td>
                                <td class="impl-singleton">
                                    {{template "impl-code-ro" dict "Idiom" . "Impl" $impl "UserProfile" nil}}
                                </td>
                            </tr>                      
                            <tr class="spacer"><td></td><td></td></tr>
                        {{end}}
                    </table>
                </div>
            </div>
        {{end}}
        
        <div id="docs-demos">
            <h3>Docs & demos</h3>

            <div class="pie" style="background-image: conic-gradient(red {{.MissingDocDemo.MissingDocPercent}}, green {{.MissingDocDemo.MissingDocPercent}} {{.MissingDocDemo.HavingDocPercent}});"></div>
            {{.MissingDocDemo.MissingDocPercent}}  of the {{.Lang | printNiceLang}} snippets don't have an external link to a documentation page yet.

            {{if .MissingDocDemo.MissingDoc}}
                For example, these implementations would need a doc URL:

                <div class="missing-doc">
                    <table class="singletons">
                        {{range .MissingDocDemo.MissingDoc}}
                            {{$impl := index .Implementations 0}}
                            <tr>
                                <td>
                                </td>
                                <td class="missing-doc-idiom-singleton idiom-header" colspan="2" >
                                    <div class="span7">
                                        <h3>Idiom #{{.Id}} {{.Title}}</h3>
                                        <p class="idiom-lead-paragraph identifier-emphasize">{{markup2CSS .LeadParagraph}}</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="impl-actions" data-idiom-id="{{.Id}}" data-impl-id="{{$impl.Id}}">
                                    <button class="btn-warning edit">Add a doc link</button> <br/>
                                    <button class="btn-warning view">View full idiom</button> <br/>
                                </td>
                                <td class="impl-singleton">
                                    {{template "impl-code-ro" dict "Idiom" . "Impl" $impl "UserProfile" nil}}
                                </td>
                            </tr>
                            <tr class="spacer"><td></td><td></td></tr>
                        {{end}}
                    </table>
                </div>
            {{end}}
        </div>
        
        <div id="missing-impl">
            <div class="pie" style="background-image: conic-gradient(red {{.MissingDocDemo.MissingDemoPercent}}, green {{.MissingDocDemo.MissingDemoPercent}} {{.MissingDocDemo.HavingDemoPercent}});"></div>
            {{.MissingDocDemo.MissingDemoPercent}} of the {{.Lang | printNiceLang}} don't have a runnable demo yet.

            {{if .MissingDocDemo.MissingDemo}}
                {{if .RecommendedDemoSite.Name}}
                We recommend creating demos in <a href="{{.RecommendedDemoSite.URL}}" target="_blank">{{.RecommendedDemoSite.Name}}</a>
                {{end}}

                For example, these implementations would need a demo URL:

                <div class="missing-demo">
                    <table class="singletons">
                        {{range .MissingDocDemo.MissingDemo}}
                            {{$impl := index .Implementations 0}}
                            <tr>
                                <td>
                                </td>
                                <td class="missing-demo-idiom-singleton idiom-header" colspan="2" >
                                    <div class="span7">
                                        <h3>Idiom #{{.Id}} {{.Title}}</h3>
                                        <p class="idiom-lead-paragraph identifier-emphasize">{{markup2CSS .LeadParagraph}}</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="impl-actions" data-idiom-id="{{.Id}}" data-impl-id="{{$impl.Id}}">
                                    <button class="btn-warning edit">Add a demo link</button> <br/>
                                    <button class="btn-warning view">View full idiom</button> <br/>
                                </td>
                                <td class="impl-singleton">
                                    {{template "impl-code-ro" dict "Idiom" . "Impl" $impl "UserProfile" nil}}
                                </td>
                                <tr class="spacer"><td></td><td></td></tr>
                            </tr>
                            <tr class="spacer"><td></td><td></td></tr>
                        {{end}}
                    </table>
                </div>
            {{end}}
        </div>

        <div>
            <h3>Missing implementations</h3>
            <p>
                {{.Lang | printNiceLang}} implementations are already provided for {{.MissingImpl.Stats.CountIdiomsMissingImpl}} idioms out of {{.MissingImpl.Stats.CountIdiomsTotal}} idioms
            </p>

			{{if .MissingImpl.Stubs}}
                <p>
                    You may help by writing a {{.Lang | printNiceLang}} snippet for these idioms:
                </p>
                <table class="stubs">
                    {{$lang := .Lang}}   
                    {{range .MissingImpl.Stubs}}
                            <tr>
                                <td class="idiom-actions" data-idiom-id="{{.Id}}" data-missing-lang="{{$lang}}">
                                    <button class="btn-warning create-impl">Create a {{$lang | printNiceLang}} implementation</button> <br/>
                                    <button class="btn-warning view">View full idiom</button> <br/>
                                </td>
                                <td class="idiom-header" >
                                    <div class="span7">
                                        <h3>Idiom #{{.Id}} {{.Title}}</h3>
                                        <p class="idiom-lead-paragraph identifier-emphasize">{{markup2CSS .LeadParagraph}}</p>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"><td></td><td></td></tr>
                    {{end}}
                </table>
            {{else}}
                <p>
                    No idioms found without a {{.Lang | printNiceLang}} implementation :)
                </p>
            {{end}}
        </div>
	</div>
{{template "footer" .}}
{{template "include-js" .}}
</div>  
</body>
{{template "close-html"}}
{{end}}