{{define "page-cheatsheet-multi"}}
{{template "prologue"}}  
{{template "head" .PageMeta}}  
<body class="page-cheatsheet multi">  
<div class="page-holder">
    <div class="license-on-print">
        <p>The snippets are under the <strong>CC-BY-SA</strong> license.</p>
        <p>Creative Commons Attribution-ShareAlike 3.0</p>
    </div>
	{{template "header-cheatsheet-print" .}}  
	<div class="page-content container-fluid">

        {{if ge (len .Langs) 3}}
            <div class="languages-overflow">
                {{len .Langs}} languages side-by-side <span class="shout">are you out of your mind</span> that will never fit on a page
            </div>
        {{end}}

        <button class="btn page-print fas fa-print fa-2x"></button>

		<div class="filters form-inline">
            <div>
                <label for="showIdiomId" class="checkbox" title="Show ID on the left">
                    <input type="checkbox" id="showIdiomId" checked="checked" /> Idiom ID
                </label>

                <label for="showImports" class="checkbox" title="Show imports statements in the code">
                    <input type="checkbox" id="showImports" /> Imports
                </label>

                <label for="showComments" class="checkbox" title="Show comments below the code">
                    <input type="checkbox" id="showComments" /> Comments
                </label>

                <label for="showExternalLinks" class="checkbox" title="Show external links to docs and demos">
                    <input type="checkbox" id="showExternalLinks" /> Links
                </label>

                <input type="text" id="filter" class="input-small" placeholder="filter..." />
            </div>
            {{if ge (len .Langs) 2}}
                <div>
                    {{range .Langs}}
                        <label class="checkbox" title="Hide lines that don't have any {{.}} implementation">
                            <input type="checkbox" class="restrict-having" data-lang="{{.}}" checked="checked" /> Only entries having {{.}}
                        </label>
                    {{end}}
                </div>
            {{end}}
        </div>
        
		<div class="guidance">
            <ul>
                <li>The snippets are under the <a href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License" rel="license noopener" target="_blank">CC-BY-SA</a> license.</li>
                <li>Consider printing in landscape mode</li>
                <li>or not printing at all, and keeping a bookmark.</li>
            </ul>
        </div>

		<div>
            {{$nbLangs := len .Langs}}
			<table class="cheatsheet-lines with-{{$nbLangs}}-langs">
                <thead>
                    <tr>
                        <th class="idiom-id"></th>
                        <th class="idiom-title-and-lead"></th>
                        {{range .Langs}}
                            <th class="one-lang-column out-of-{{$nbLangs}}">{{. | printNiceLang}}</th>
                        {{end}}
                    </tr>
                </thead>
                {{$langs := .Langs}}
                {{range $line := .Lines}}
                    <tr class="cheatsheet-line">
						<th class="idiom-id dotted">
                            {{$line.IdiomID}}
                        </th>
						<td class="idiom-title-and-lead dotted">
                            <div class="idiom-title">
                                <a href="{{niceIdiomIDTitleURL $line.IdiomID $line.IdiomTitle}}">
                                    {{markup2CSS $line.IdiomTitle}}
                                </a>
                            </div>
                            <div>
                                {{markup2CSS $line.IdiomLeadParagraph}}
                            </div>
                        </td>
                            {{range $j, $docs := $line.ByLanguage}}
                                <td class="impl-code dotted lang-{{index $langs $j}}">
                                    {{range $i, $doc := $docs}}
                                        <div class="implementation">
                                            {{if gt $i 0}}
                                                <div class="alt-impl-breaker">Alternative implementation:</div>
                                            {{end}}
                                            {{if .ImplImportsBlock}}
                                                <div class="piimports" style="display: none;">
                                                    <pre>{{$doc.ImplImportsBlock}}</pre>
                                                    <div class="right copy-imports-to-clipboard">
                                                        <a href="#"><i class="fas fa-copy" title="Copy imports to the clipboard"></i></a>
                                                    </div>
                                                </div>
                                            {{end}}
                                            <div class="picode">
                                                <pre>{{$doc.ImplCodeBlock}}</pre>
                                                <div class="right move-up">
                                                    <a href="#" class="copy-code-to-clipboard"><i class="fas fa-copy" title="Copy code to the clipboard"></i></a>
                                                </div>
                                            </div>
                                            <div class="impl-comment" style="display: none;">
                                                {{markup2CSS (atom2string $doc.ImplCodeBlockComment)}}
                                            </div>

                                            <div class="impl-external-links pull-right">
                                                <ul>
                                                    {{if $doc.ImplDemoURL}}<li class="active demo"><a href="{{$doc.ImplDemoURL}}" target="_blank" rel="nofollow noopener">Demo</a></li>{{end}}
                                                    {{if $doc.ImplDocURL}}<li class="active doc"><a href="{{$doc.ImplDocURL}}" target="_blank" rel="nofollow noopener">Doc</a></li>{{end}}
                                                </ul>
                                            </div>

                                        </div>
                                    {{end}}
                                </td>
                            {{end}}
						<td>
                            <button type="button" class="close">&times;</button>
                        </td>
                    </tr>
                {{end}}

			</table>
		</div>
	</div>
{{template "include-js" .}}  
</div>
</body>
{{template "close-html"}}
{{end}}