{{define "page-cheatsheet"}}
{{template "prologue"}}  
{{template "head" .PageMeta}}  
<body class="page-cheatsheet">  
<div class="page-holder">
	{{template "header-small" .}}  
	<div class="page-content container-fluid">

		<h2>{{.Lang | printNiceLang}} code</h2>

		<div>
			<table class="cheatsheet-lines">
				{{range .CheatsheetLines}}
					<tr>
						<th>{{.IdiomID}}</th>
						<td class="idiom-title">{{.IdiomTitle}}</td>
						<td class="idiom-lead">{{.IdiomLeadParagraph}}</td>
						<td class="impl-code"><pre>{{.ImplCodeBlock}}</pre></td>
						<td><button type="button" class="close">&times;</button></div></td>
					</tr>
				{{end}}
			</table>
		</div>
	</div>
{{template "include-js" .}}  
</div>
</body>
{{template "close-html"}}
{{end}}