{{define "page-history"}}
{{template "prologue"}}  
{{template "head" .PageMeta}}  
<body>  
<div class="page-holder">
	{{template "header-small" .}}  
	<div class="page-content container-fluid">

		{{template "language-bar" .}}
		{{template "idiom-summary-medium"  decorate .Idiom .UserProfile}}

		<div>
		<table class="idiom-history">
			<tr><th>Edit date</th><th>Edit Summary</th><th></th>
			{{range $i, $h := .HistoryList}}
				<tr>
					<td>{{.VersionDate.Format "2006-01-02, 15:04"}}</td>
					<td>{{.EditSummary}}</td>
					<td>{{.LastEditor}}</td>
					<td>{{if and (eq $i 0) ($.UserProfile.IsAdmin) (gt (len $.HistoryList) 1)}}
							<form method="POST" action="/revert">
								<input type="hidden" name="idiomId" value="{{$.Idiom.Id}}" />
								<input type="hidden" name="version" value="{{.Version}}" />
								<input type="submit" value="Revert" /> 
							</form>
						{{end}}</td>
				</tr>
			{{end}}
		</table>
		</div>
	</div>
{{template "footer" .}}
{{template "include-js" .}}
</div>  
</body>
{{template "close-html"}}
{{end}}