{{define "page-idiom-detail"}}
{{template "prologue"}}  
{{template "head" .PageMeta}}  
<body>  
<div class="page-holder">
	{{template "header-small" .}}
	<div class="page-content container-fluid">

	{{template "language-bar" .}}
			
	<div class="row-fluid">
		<div class="span10">
			{{template "idiom-summary-large"  decorate .Idiom .UserProfile}}
			{{$selectedImplId := .SelectedImplID}}
			{{$selectedImplLang := .SelectedImplLang}}
			<div>
				{{range .Idiom.Implementations}}
					{{if or (eq .LanguageName $selectedImplLang) (isInStringList .LanguageName $.UserProfile.FavoriteLanguages)}}
						<div>
							<h3 class="language-name active">{{.LanguageName | printNiceLang}}</h3>
							{{template "impl-code-and-comments" dict "Idiom" $.Idiom "Impl" . "UserProfile" $.UserProfile}}
						</div>
					{{end}}
				{{end}}
			</div>
			<div class="implementations-tabs">
				{{range .Idiom.Implementations}}
					{{if not (or (eq .LanguageName $selectedImplLang) (isInStringList .LanguageName $.UserProfile.FavoriteLanguages))}}
						<h3 class="language-name">{{.LanguageName | printNiceLang}}</h3>
						<div id="impl{{.Id}}" class="fouc">
							<div class="">
								{{template "impl-code-and-comments" dict "Idiom" $.Idiom "Impl" . "UserProfile" $.UserProfile}}
							</div>
						</div>
					{{end}}
				{{end}}
			</div>
			{{if .PageMeta.Toggles.implAddition}}
				{{if or (not .Idiom.Protected) .UserProfile.IsAdmin}}
					<div class="new-impl-invitation contribution hide-on-mobile">
						<hr/>
						<h5>Do you know the best way to do this in your language ?</h5>
						<a href="{{hostPrefix}}/impl-create/{{.Idiom.Id}}" class="btn btn-primary"><i class="icon-plus-sign"></i> New implementation...</a>
					</div>
				{{end}}
			{{end}}
		</div>
		<div class="show-on-desktop">
			{{template "right-column" .Idiom}}
		</div>
	</div>
	
	</div>
{{template "footer" .}}
{{template "modal-nickname"}}
{{template "modal-impl-grid" .}}
{{template "include-js" .}}
</div>  
</body>
{{template "close-html"}}
{{end}}