{{define "page-idiom-detail"}}
{{template "prologue"}}  
{{template "head" .PageMeta}}  
<body>
<div class="page-holder">
	{{template "header-small" .}}  

	{{template "language-bar" .}}
			
	<div class="limit-width idiom">
		<div class="header">
			<div class="idiom-actions">
				<a href="#star">★</a>
				<a href="#edit">✐</a>
				<div class="clear"></div>
			</div>
			<h2>#{{.Idiom.Id}} {{.Idiom.Title}}</h2>
		</div>
		<div class="idiom-description">{{markup2CSS .Idiom.LeadParagraph}}</div>
		<div class="idiom-languages">
			{{range .Idiom.Implementations}}
				<a href="#impl-{{.Id}}">{{.LanguageName}}</a>
			{{end}}
			<div class="clear"></div>
		</div>
		{{range .Idiom.Implementations}}
			<div class="idiom-example">
				<div class="actions"><a href="#" name="impl-{{.Id}}" class="language">{{.LanguageName}}</a><a href="#">★</a><div class="votes">{{if gt .Rating 0}}{{.Rating}}{{end}}</div></div>
				<div class="content">
					<div class="code">{{.CodeBlock}}</div>
					<div class="comments">{{markup2CSS .AuthorComment}}</div>
					<div class="clear"></div>
				</div>
			</div>
		{{end}}
	</div>
	
{{template "include-js" .}}
</div>  
</body>
{{template "close-html"}}
{{end}}