{{define "page-impl-create"}}
{{template "prologue"}}  
{{template "head" .PageMeta}}
<body>  
<div class="page-holder">
	{{template "header-small" .}}  
	<div class="page-content container-fluid">
	
		<div class="row-fluid">
			<div class="span6">
				<form class="form-horizontal form-impl-creation" action="{{hostPrefix}}/impl-save" method="POST">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="idiom_id">Idiom</label>
							<div class="controls">
								<input type="hidden" name="idiom_id" value="{{.Idiom.Id}}" readonly="readonly" class="input-small" />
								<span class="idiom_id label label-larger"># {{.Idiom.Id}}</span>
								<span class="idiom_title">
									<a href="{{niceIdiomURL .Idiom}}">{{.Idiom.Title}}</a>
								</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="idiom_author">Created by</label>
							<div class="controls">
								<input type="text" name="idiom_author" value="{{.Idiom.Author}}" readonly="readonly"  class="input-xlarge" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Lead paragraph</label>
							<div class="controls">
								<textarea rows="3" class="input-xxlarge"
									readonly="readonly">{{.Idiom.LeadParagraph}}</textarea>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>New implementation</legend>
						<div class="control-group">
							<label class="control-label" for="impl_language">Language</label>
							<div class="controls">
								{{template "language-single-select" .}}
								<div class="help-inline under-the-value"></div>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="impl_imports">Imports</label>
							<div class="controls">
								<textarea name="impl_imports" rows="2" 
									class="input-xlarge imports"
									placeholder="Import statements (optional)" 
									maxlength="500"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="impl_code">Code</label>
							<div class="controls">
								<textarea name="impl_code" rows="8" class="impl-code input-xxlarge"
									data-toggle="popover" title="Explain stuff"
									data-content="<textarea  name='impl_comment' placeholder='Put your comments here
									(not in the code)' rows='4' maxlength='500'></textarea><div>To emphasize a name: <span>_x &rarr; <b><i>x</b></i></span></div>"
									maxlength="500"
									required="required"
									data-variables="{{.Idiom.VariablesComma}}"></textarea>
								<div class="warning-code-cromulence alert">
								</div>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="impl_doc_url">Documentation URL</label>
							<div class="controls">
								<input type="text" name="impl_doc_url" class="input-xlarge" maxlength="250"
									placeholder="e.g. https://docs.oracle.com/javase/7/docs/api/java/lang/String.html#indexOf%28java.lang.String%29" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="impl_attribution_url">Original attribution URL</label>
							<div class="controls">
								<input type="text" name="impl_attribution_url"
									class="input-xlarge"
									maxlength="250"
									data-toggle="popover"
									data-content="Please be fair if you are using someone's work"
									placeholder="e.g. https://en.wikipedia.org/wiki/Schwartzian_transform#The_Perl_idiom" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="impl_demo_url">Online demo</label>
							<div class="controls">
								<input type="text" name="impl_demo_url" class="input-xlarge" maxlength="250"
									placeholder="e.g. https://play.golang.org/p/1b2SQjo9iL" />
							</div>
						</div>
		 				{{if .UserProfile.IsAdmin}}
						<div class="control-group">
							<label class="control-label" for="impl_picture_url">Picture URL (admin)</label>
							<div class="controls">
								<input type="text" name="impl_picture_url" class="input-xlarge" maxlength="250" />
							</div>
						</div>
						{{end}}
						{{template "input-username" .UserProfile.Nickname}}
						<div class="control-group">
							<div class="controls">
								<button class="btn btn-impl-create-preview">Preview</button>
								{{template "save-button-with-notice"}}
							</div>
						</div>
					</fieldset>
				</form>	
			</div>
			<div class="span2">
				{{/* Empty space for form popovers */}}
			</div>		
			<div class="span3">
				{{if .UserProfile.IsAdmin}}
					{{template "admin-lmgtfy" .}}
				{{end}}
				{{template "contribution-rules-small-info"}}
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">
				<fieldset>
					<legend>Other implementations</legend>
				</fieldset>
				{{/*  2015-12-23  ajax fetch deactivated because
				doesn't play well with escaping of bubbles text
				<div class="other-impl-placeholder"
					data-idiom-id="{{.Idiom.Id}}"
					data-excluded-impl-id=""
				></div>
				*/}}
				<div>
					{{template "block-other-implementations" .}}
				</div>
			</div>
		</div>
		
	</div>
{{template "footer" .}}
{{template "modal-impl-preview"}}
{{template "include-js" .}}
</div>  
</body>
{{template "close-html"}}
{{end}}