{{define "page-missing-list"}}
{{template "prologue"}}  
{{template "head" .PageMeta}}  
<body>  
<div class="page-holder">
	{{template "header-small" .}}  
	<div class="page-content container-fluid">

		{{template "language-bar" .}}

		<div class="alert alert-info">
			<p>
			  This list shows some idioms having at least : 1 <strong>{{.Lang}}</strong> implementation with some empty fields.
			</p>
			<p>
			  You may click on a missing field and fill the gap.
			</p>
		</div>

		<div class="idioms-missing-fields">
			{{if .Results}}
				<table>
					<tr>
						<th></th>
						<th></th>
						<th>Demo<br/>URL</th>
						<th>Doc<br/>URL</th>
						<th></th>
					</tr>
					{{range .Results}}
						{{$idiom := .}}
						{{range implementationsFor . $.Lang}}
							<tr>
								<th><span class="idiom_id label"># {{$idiom.Id}}{{/* > {{.Id}} */}}</span></th>
								<td>
									<a href="{{NiceImplURL $idiom .Id $.Lang}}">{{shorten $idiom.Title 35}}</a>
								</td>
								<td class="mark">
									{{if blank .DemoURL}}
										<a class="btn btn-warning" type="button" href="{{hostPrefix}}/impl-edit/{{$idiom.Id}}/{{.Id}}">
											Ø
										</a>
									{{else}}
										<a href="{{.DemoURL}}" target="_blank">
											✓
										</a>
									{{end}}
								</td>
								<td class="mark">
									{{if blank .DocumentationURL}}
										<a class="btn btn-warning" type="button" href="{{hostPrefix}}/impl-edit/{{$idiom.Id}}/{{.Id}}">
											Ø
										</a>
									{{else}}
										<a href="{{.DocumentationURL}}" target="_blank">
											✓
										</a>
									{{end}}
								</td>
								<td class="code-fade">{{shorten .CodeBlock 40}}</td>
							</tr>
						{{end}}
					{{end}}
				</table>
			{{else}}
				<i class="icon-meh"> No idioms found !</i>
			{{end}}
		</div>
	</div>
{{template "footer" .}}
{{template "include-js" .}}
</div>  
</body>
{{template "close-html"}}
{{end}}