{{define "page-idiom-version-diff"}}
{{template "prologue"}}  
{{template "head" .PageMeta}}  
<body>  
<div class="page-holder">
	{{template "header-small" .}}  
	<div class="page-content container-fluid">

    <div class="row-fluid">
		<div class="span8">
			{{template "language-bar" .}}
		</div>
    </div>
			
	<div class="row-fluid">
		<div class="span6">
			{{template "idiom-summary-large"  decorate .IdiomLeft.AsIdiomPtr .UserProfile}}
		</div>
		<div class="span6">
			{{template "idiom-summary-large"  decorate .IdiomRight.AsIdiomPtr .UserProfile}}
		</div>
    </div>
			
	{{range $implId := .ImplIDs}}
	<div class="row-fluid">
		<div class="span6">
			{{with index $.ImplLeft $implId}}
				{{if eq .Id 0}}
					(impl not created yet)
				{{else}}
					<div>{{.LanguageName}}</div>
					<div>{{.CodeBlock}}</div>
					<div>{{.AuthorComment}}</div>
					<div>{{.OriginalAttributionURL}}</div>
					<div>{{.DemoURL}}</div>
					<div>{{.DocumentationURL}}</div>
				{{end}}
			{{end}}
			<hr/>
		</div>
		<div class="span6">
			{{with index $.ImplRight $implId}}
				{{if eq .Id 0}}
					(impl deleted)
				{{else}}
					<div>{{.LanguageName}}</div>
					<div>{{.CodeBlock}}</div>
					<div>{{.AuthorComment}}</div>
					<div>{{.OriginalAttributionURL}}</div>
					<div>{{.DemoURL}}</div>
					<div>{{.DocumentationURL}}</div>
				{{end}}
			{{end}}
			<hr/>
		</div>
	</div>
	{{end}}
	
	</div>
{{template "footer" .}}
{{template "modal-nickname"}}
{{template "include-js" .}}
</div>  
</body>
{{template "close-html"}}
{{end}}