{{define "page-idiom-version-diff"}}
{{template "prologue"}}  
{{template "head" .PageMeta}}  
<body>  
<div class="page-holder">
	{{template "header-small" .}}  
	<div class="page-content container-fluid version-diff">
		
	<h4>
		<a href="{{hostPrefix}}/history/{{.IdiomRight.Id}}">History</a> of <a href="{{niceIdiomURL .IdiomRight.AsIdiomPtr}}">Idiom {{.IdiomRight.Id}}</a>
		&gt; diff from v{{.IdiomLeft.Version}} to v{{.IdiomRight.Version}}
		{{if gt .ImplID 0}}
			for implementation {{.ImplID}}
		{{end}}
	</h4>
	<div class="row-fluid">
		<div class="span3">
				
		</div>

		<div class="span6">
    		<div class="summary">
    		  <div>
    		  Edit summary for version {{.IdiomRight.Version}} : <br/>
    		  <span class="quote">{{markup2CSS .IdiomRight.EditSummary}}</span>
    		  </div>
    		  <div class="bigicon">
			    ↷
			  </div>
			</div>
		</div>
		<div class="span3">
		</div>
    </div>

	<div class="row-fluid">
		<div class="span6 idiom-left">
			<div class="right">
				<h4 class="version-number">Version {{.IdiomLeft.Version}}</h4>
				<div class="version-date">{{.IdiomLeft.VersionDate.Format "2006-01-02, 15:04:05"}}</div>
			</div>
		</div>
		<div class="span6 idiom-right">
			<div class="left">
				<h4 class="version-number">Version {{.IdiomRight.Version}}</h4>
				<div class="version-date">{{.IdiomRight.VersionDate.Format "2006-01-02, 15:04:05"}}</div>
			</div>
		</div>
	</div>


	<div class="row-fluid">
		{{$left := .IdiomLeft.AsIdiomPtr}}
		{{$right := .IdiomRight.AsIdiomPtr}}

		{{with $left}}
		<div class="span6 idiom-left">
			<div class="well idiom-summary-large">
				<div class="row-fluid">
					<div class="span10">
						<h1>Idiom #{{.Id}} <span class="{{if ne .Title $right.Title}}touched{{end}}">{{.Title}}</span></h1>
						<p class="idiom-lead-paragraph identifier-emphasize  {{if ne .LeadParagraph $right.LeadParagraph}}touched{{end}}">{{markup2CSS .LeadParagraph}}</p>
						{{if .ImageURL}}<div class="idiom-picture"><img src="{{.ImageURL}}" alt="Illustration"/></div>{{end}}
					</div>
				</div>
			</div>
		</div>
		{{end}}

		{{with $right}}
		<div class="span6 idiom-right">
			<div class="well idiom-summary-large">
				<div class="row-fluid">
					<div class="span10">
						<h1>Idiom #{{.Id}} <span class="{{if ne .Title $left.Title}}touched{{end}}">{{.Title}}</span></h1>
						<p class="idiom-lead-paragraph identifier-emphasize {{if ne .LeadParagraph $left.LeadParagraph}}touched{{end}}">{{markup2CSS .LeadParagraph}}</p>
						{{if .ImageURL}}<div class="idiom-picture"><img src="{{.ImageURL}}" alt="Illustration"/></div>{{end}}
					</div>
				</div>
			</div>
		</div>
		{{end}}
	</div>
			
	{{/* IDIOM EXPECTED FORMAL VARIABLES */}}
	<div class="row-fluid">
		{{$c := diffClass $left.VariablesComma $right.VariablesComma}}
		<div class="span6 idiom-left">
			{{if $left.VariablesComma}}
				<div class="{{$c}}">
					<h5>Variables</h5>
					{{$left.VariablesComma}}
				</div>
			{{end}}
		</div>
		<div class="span6 idiom-right">
			{{if $right.VariablesComma}}
				<div class="{{$c}}">
					<h5>Variables</h5>
					{{$right.VariablesComma}}
				</div>
			{{end}}
		</div>
	</div>
			
	{{/* IDIOM RELATED URLS */}}
	{{$c0a := diffClass (join $left.RelatedURLs ",") (join $right.RelatedURLs ",")}}
	{{$c0b := diffClass (join $left.RelatedURLLabels ",") (join $right.RelatedURLLabels ",")}}
	{{if or $c0a $c0b}}
	<div class="row-fluid">
		<div class="span6 idiom-left">
			{{if ge (len $left.RelatedURLs) 1}}
				<div class="{{$c0a}} {{$c0b}}">
					<h5>Related URL 1</h5>
					{{index $left.RelatedURLs 0}}
				</div>
			{{end}}
		</div>
		<div class="span6 idiom-right">
			{{if ge (len $right.RelatedURLs) 1}}
				<div class="{{$c0a}} {{$c0b}}">
					<h5>Related URL 1</h5>
					{{index $right.RelatedURLs 0}}
				</div>
			{{end}}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6 idiom-left">
			{{if ge (len $left.RelatedURLs) 2}}
				<div class="{{$c0a}} {{$c0b}}">
					<h5>Related URL 2</h5>
					{{index $left.RelatedURLs 1}}
				</div>
			{{end}}
		</div>
		<div class="span6 idiom-right">
			{{if ge (len $right.RelatedURLs) 2}}
				<div class="{{$c0a}} {{$c0b}}">
					<h5>Related URL 2</h5>
					{{index $right.RelatedURLs 1}}
				</div>
			{{end}}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6 idiom-left">
			{{if ge (len $left.RelatedURLs) 3}}
				<div class="{{$c0a}} {{$c0b}}">
					<h5>Related URL 3</h5>
					{{index $left.RelatedURLs 2}}
				</div>
			{{end}}
		</div>
		<div class="span6 idiom-right">
			{{if ge (len $right.RelatedURLs) 3}}
				<div class="{{$c0a}} {{$c0b}}">
					<h5>Related URL 3</h5>
					{{index $right.RelatedURLs 2}}
				</div>
			{{end}}
		</div>
	</div>
	{{end}}
			
	{{/* IDIOM EXTRA KEYWORDS */}}
	<div class="row-fluid">
		{{$c := diffClass $left.ExtraKeywords $right.ExtraKeywords}}
		<div class="span6 idiom-left">
			{{if $left.ExtraKeywords}}
				<div class="{{$c}}">
					<h5>Extra Keywords</h5>
					{{$left.ExtraKeywords}}
				</div>
			{{end}}
		</div>
		<div class="span6 idiom-right">
			{{if $right.ExtraKeywords}}
				<div class="{{$c}}">
					<h5>Extra Keywords</h5>
					{{$right.ExtraKeywords}}
				</div>
			{{end}}
		</div>
	</div>


	{{range $implId := .ImplIDs}}
		{{$left := index $.ImplLeft $implId}}
		{{$right := index $.ImplRight $implId}}

		{{/* LANGUAGE NAME */}}
		<div class="row-fluid lang">
			<div class="span6 impl-left">
				{{if $left.LanguageName}}
				    <ul class="nav nav-tabs language-names">
						<li class="active">
							<a href="#" class="lang-tab"><span class="label badge-lang">{{$left.LanguageName | printNiceLang}}</span></a>
					    </li>
					</ul>
				{{end}}
			</div>
			<div class="span6 impl-right">
				{{if $right.LanguageName}}
				    <ul class="nav nav-tabs language-names">
						<li class="active">
							<a href="{{niceImplURL $.IdiomRight.Idiom $right.Id $right.LanguageName}}" class="lang-tab goto-impl"><span class="label badge-lang">{{$right.LanguageName | printNiceLang}}</span></a>
					    </li>
					</ul>
				{{end}}
			</div>
		</div>

		{{/* IMPORTS BLOCK */}}
		{{if or $left.ImportsBlock $right.ImportsBlock }}
			<div class="row-fluid">
				{{$c := diffClass $left.ImportsBlock $right.ImportsBlock}}
				<div class="span6 impl-left {{$c}}">
					{{if $left.CodeBlock}}
						<h5>Imports</h5>
						<pre>{{$left.ImportsBlock}}</pre>
					{{end}}
				</div>
				<div class="span6 impl-right {{$c}}">
					{{if $right.CodeBlock}}
						<h5>Imports</h5>
						<pre>{{$right.ImportsBlock}}</pre>
					{{end}}
				</div>
			</div>
		{{end}}

		{{/* CODE BLOCK */}}
		<div class="row-fluid">
			{{$c := diffClass $left.CodeBlock $right.CodeBlock}}
			<div class="span6 impl-left {{$c}}">
				{{if $left.CodeBlock}}
					<h5>Code</h5>
					<pre>{{$left.CodeBlock}}</pre>
				{{end}}
			</div>
			<div class="span6 impl-right {{$c}}">
				{{if $right.CodeBlock}}
					<h5>Code</h5>
					<pre>{{$right.CodeBlock}}</pre>
				{{end}}
			</div>
		</div>

		{{/* COMMENTS BUBBLE */}}
		{{if or $left.AuthorComment $right.AuthorComment }}
		<div class="row-fluid">
			{{$c := diffClass $left.AuthorComment $right.AuthorComment}}
			<div class="span6 impl-left {{$c}}">
				{{if $left.AuthorComment}}
					<h5>Comments bubble</h5>
					<div class="diff-code-comments">
						{{markup2CSS $left.AuthorComment}}
					</div>
				{{end}}
			</div>
			<div class="span6 impl-right {{$c}}">
				{{if $right.AuthorComment}}
					<h5>Comments bubble</h5>
					<div class="diff-code-comments">
						{{markup2CSS $right.AuthorComment}}
					</div>
				{{end}}
			</div>
		</div>
		{{end}}

		{{/* DOC URL */}}
		{{if or $left.DocumentationURL $right.DocumentationURL }}
			<div class="row-fluid">
				{{$c := diffClass $left.DocumentationURL $right.DocumentationURL}}
				<div class="span6 impl-left {{$c}}">
					{{if $left.DocumentationURL}}
						<h5>Doc URL <a href="{{$left.DocumentationURL}}" target="_blank" rel="nofollow"><i class="icon-external-link"></i></a></h5>
						<div class="field-value">{{$left.DocumentationURL}}</div>
					{{end}}
				</div>
				<div class="span6 impl-right {{$c}}">
					{{if $right.DocumentationURL}}
						<h5>Doc URL <a href="{{$right.DocumentationURL}}" target="_blank" rel="nofollow"><i class="icon-external-link"></i></a></h5>
						<div class="field-value">{{$right.DocumentationURL}}</div>
					{{end}}
				</div>
			</div>
		{{end}}

		{{/* ORIGINAL ATTRIBUTION URL */}}
		{{if or $left.OriginalAttributionURL $right.OriginalAttributionURL }}
			<div class="row-fluid">
				{{$c := diffClass $left.OriginalAttributionURL $right.OriginalAttributionURL}}
				<div class="span6 impl-left {{$c}}">
					{{if $left.OriginalAttributionURL}}
						<h5>Origin <a href="{{$left.OriginalAttributionURL}}" target="_blank" rel="nofollow"><i class="icon-external-link"></i></a></h5>
						<div class="field-value">{{$left.OriginalAttributionURL}}</div>
					{{end}}
				</div>
				<div class="span6 impl-right {{$c}}">
					{{if $right.OriginalAttributionURL}}
						<h5>Origin <a href="{{$right.OriginalAttributionURL}}" target="_blank" rel="nofollow"><i class="icon-external-link"></i></a></h5>
						<div class="field-value">{{$right.OriginalAttributionURL}}</div>
					{{end}}
				</div>
			</div>
		{{end}}

		{{/* DEMO URL */}}
		{{if or $left.DemoURL $right.DemoURL }}
			<div class="row-fluid">
				{{$c := diffClass $left.DemoURL $right.DemoURL}}
				<div class="span6 impl-left {{$c}}">
					{{if $left.DemoURL}}
						<h5>Demo URL <a href="{{$left.DemoURL}}" target="_blank" rel="nofollow"><i class="icon-external-link"></i></a></h5>
						<div class="field-value">{{$left.DemoURL}}</div>
					{{end}}
				</div>
				<div class="span6 impl-right {{$c}}">
					{{if $right.DemoURL}}
						<h5>Demo URL <a href="{{$right.DemoURL}}" target="_blank" rel="nofollow"><i class="icon-external-link"></i></a></h5>
						<div class="field-value">{{$right.DemoURL}}</div>
					{{end}}
				</div>
			</div>
		{{end}}

	{{end}}

	<div class="row-fluid diff-nav">
		<div class="span6 previous">
			{{if and .PreviousChangePath (le .ImplID 0)}}
				<a href="{{hostPrefix}}{{.PreviousChangePath}}">↶ Previous change</a>
			{{end}}
		</div>
		<div class="span6 next">
			{{if and .NextChangePath (le .ImplID 0)}}
				<a href="{{hostPrefix}}{{.NextChangePath}}">Next change ↷</a>
			{{else}}
				{{if .UserProfile.IsAdmin}}
					<form method="POST" action="/admin-history-restore" class="idiom-restore-version">
						<input type="hidden" name="idiomId" value="{{.IdiomLeft.Id}}" />
						<input type="hidden" name="version" value="{{.IdiomLeft.Version}}" />
						<input type="hidden" name="why" value="" />
						<input type="button" value="Revert v{{.IdiomRight.Version}} and restore v{{.IdiomLeft.Version}}" class="btn btn-danger presubmit" /> 
					</form>
				{{end}}
			{{end}}
		</div>
	</div>
	
	</div>
{{template "footer" .}}
{{template "modal-nickname"}}
{{template "include-js" .}}
</div>  
</body>
{{template "close-html"}}
{{end}}