{{define "header-admin"}}
<header class="header-small">
	<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
              <li>
                <a href="{{hostPrefix}}/"><img src="{{hostPrefix}}{{themeDir}}/img/wheel.svg" width="48" height="48" class="header_picto" alt="Logo"/></a>
              </li>
              <li class="">
				<h1><a href="{{hostPrefix}}/">Programming-Idioms</a></h1>
				<div class="slogan"></div>
              </li>
              <li class="">
				{{template "greetings" .}}
              </li>
		</ul>
	</div>
</header>
{{template "message-zone"}}
{{end}}