{{define "header-wall"}}
<header>
	<a href="/">
		<picture>
			<source srcset="{{hostPrefix}}{{themeDir}}/img/wheel.light.svg" media="(prefers-color-scheme: light)" type="image/svg+xml">
			<source srcset="{{hostPrefix}}{{themeDir}}/img/wheel.dark.svg" media="(prefers-color-scheme: dark)" type="image/svg+xml">
			<img src="{{hostPrefix}}{{themeDir}}/img/wheel.default.svg" width="48" height="48" class="header_picto" alt="Logo">
		</picture>
	</a>
	<h1><a href="/">Programming-Idioms</a></h1>
</header>
{{end}}