{{define "language-bar"}}
{{if .PageMeta.Toggles.languageBar}} 
<div class="well language-list language-bar data-nosnippet">
	<div class="row-fluid">
		<div class="span3">
			<div class="btn-group actions">
              <button class="btn btn-inverse btn-see-non-favorite {{if .UserProfile.SeeNonFavorite}}active{{else}}{{end}} {{if not .UserProfile.FavoriteLanguages}}disabled{{end}}" title="See implementations in other languages as well (recommended)"><i class="fas fa-asterisk"></i></button>
              <button class="btn btn-inverse show-languages-pool" title="Add your favorite language"><i class="fas fa-plus"></i></button>
            </div>
        </div>
		<div class="span9">
			{{if empty .UserProfile.FavoriteLanguages}} 
				<div class="language-bar-hint">
					This language bar is your friend. Select your favorite languages!
				</div>
			{{end}}
			<ul class="favorite-languages sortable-lang">
				{{range .UserProfile.FavoriteLanguages}}
					<li class="active" data-language="{{.}}"><span class="badge badge-fav-lang">{{. | printNiceLang}} <button class="favorite-language-remove fas fa-times" aria-label="Remove fav" title="Remove fav"></button></span></li>
				{{end}}
			</ul>
		</div>
		<div class="span12 addible-languages-pool" style="display: none;">
			Select your favorite languages :
			<ul>
			    {{range filterOut mainStreamLanguages .UserProfile.FavoriteLanguages}}
			    	<li data-language="{{.}}"><button class="btn btn-primary btn-mini active togglabe">{{. | printNiceLang}}</button></li>
				{{end}}
				<li>Or search : {{template "language-input-suggest" "language-bar-add"}}</li>
			</ul>
		</div>
	</div>
</div>
{{end}}
{{end}}
