{{define "teaser-coverage"}}
<section class="well idioms_nav_list">
	<h3>
		<a href="{{hostPrefix}}/coverage">
			Coverage
		</a>
	</h3>
	<div class="well idiom-summary-small">
		<strong>Have a look at the implementation matrix </strong>
		<a href="{{hostPrefix}}/coverage">
			<picture>
				<source srcset="{{hostPrefix}}{{themeDir}}/img/coverage_peek_t.webp" type="image/webp">
				<source srcset="{{hostPrefix}}{{themeDir}}/img/coverage_peek_t.png" type="image/png">
				<img src="{{hostPrefix}}{{themeDir}}/img/coverage_peek_t.png" />
			</picture>
		</a>
	</div>
</section>
{{end}}
