body {
    background-color: #FAFAF7;
}

div {
    margin: 2px;
    color: #334;
}

.center {
    text-align: center;
}

.search input[type=text] {
    border-radius: 0.5rem;
    padding-left: 0.3rem;
}

.idiom {
    border-color: #666;
}

.variable {
	font-weight: bold;
	font-style: italic;
}

.idiom .id {
}

.idiom .title {
    /*
    background-color: #BEB;
    */
    font-weight: bold;
}

.idiom .title a {
	text-decoration: none;
}

.idiom .summary {
    border-color: #888;
}

.idiom .summary .langs-count {
    color: #AAA;
    font-weight: bold;
    font-size: larger;
}

.idiom .impls {
    margin-left: 2rem;
    border-color: #888;
}
.idiom .impl {
    margin-top: 1rem;
    border-color: #AAA;
}
.idiom .impl .lang {
    background-color: #DFD;
}
.idiom .impl .comment {
    border: 2px solid #DDD;
    border-radius: 15px;
    color: #444;
    /*
    font-style: italic;
    */
    margin-left: 8rem;
    padding-left: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.idiom .impl .link {
    display: inline-block;
}

.search-results .idiom {
    margin-top: 1rem;
}

.search-results .search-query {
    font-style: italic;
}

.search-results .idiom .id {
    display: inline-block;
}

.search-results .idiom .title {
    display: inline-block;
}