
.header-small .dropdown-menu,
.header-logo,
.idiom-summary-large .language-list,
#modal-nickname,
.voting,
.voting_score,
.modal-impl-grid {
	display: none;
	/* TODO */
}

.show-on-desktop,
.hide-on-mobile {
	display: none;
	/* Mobile first. Desktop, later. */
}

.contribution {
	/* Mobile first: by default, code contribution is disabled. */
	display: none;
}

html,body{
    height: 100%
}

.page-holder {
	min-height: 100%;
	position: relative;
}

body {
	margin: 5px;
}

/*
 *
 * Header
 *
 */


header {
	margin: 0;
	background-image:linear-gradient(to bottom, #0000aa, #3333dd);
	color: white;
	margin-bottom: 8px;
}

header a {
	text-decoration: none;
}

header a:visited {
	color: white;
}

header .top-items {
	margin: 0;
	padding-left: 0;
}

header .top-items li {
	display: inline-block;
	vertical-align: middle;
}

header h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-search input.search-query {
	margin-right: 0;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	padding-left: .7rem;
}

.form-search button {
	margin-left: 0px;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

/*
 *
 * Common
 *
 */

 h1 {
	 margin-bottom: .5rem;
	 margin-top: .5rem;
 }

/*
 *
 * Idiom detail
 *
 */

.impl-code-and-comments {
	min-width: 15rem;
	max-width: 50rem;
}

h3.language-name {
	display: inline-block;
	margin-top: 0.5rem;
	padding: 2px 6px 2px 4px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: #04C;
	color: white;
	margin-bottom: 0;
}

h3.language-name:hover{
    cursor: pointer;
	background-color: #26E;
}

.folded h3.language-name {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

/* Small clickable triangle to fold. */
.fold-triangle {
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%238C98F2'><polygon points='0,50 100,50 50,100'/></svg>") no-repeat;
	background-size: 12px;
	background-position-x: 3px;
	height: 1rem;
	border: none;
	padding-right: 15px;
}

/* Small clickable triangle to unfold. */
.folded .fold-triangle {
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%238C98F2'><polygon points='0,0 0,100 50,50'/></svg>") no-repeat;
	background-size: 12px;
	background-position-x: 3px;
}

.fold-triangle:hover{
    cursor: pointer;
    box-shadow: inset 0 0 20px 20px rgba(255, 255, 255, 0.3);
}

button.fold-triangle:focus {
	outline:0;
}

.single-impl-tab.folded .impl-code-and-comments {
	display: none;
}

/* Import statements (boring) are greyed out */
.piimports pre{
	color: #777;
	border: 1px solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 0px;
    border-color: #D7D7D7;
	background-color: #F5F5F5;
	margin-top: 0;
	margin-bottom: 0;
    padding: 2px 4px 4px 15px;
}

.picode pre {
    overflow-x: scroll;
	background-color: #F5F5F5;
	margin-top: 0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
    padding: 2px 4px 12px 15px;
}

.author-comment {
	display: inline-block;
	margin-top: 6px;
	margin-left: 6%;
	margin-right: 6%;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 0.7rem;
	padding-bottom: 1rem;
	border-radius: 12px;
	background-color: #CFE;
	box-shadow: -.2em .2em 3px #6AD;
}

/* Emphasized identifier */
.variable {
	font-weight: bold;
	font-style: italic;
}

.impl-external-links {
	margin-top: -14px;
}

.impl-external-links ul {
	margin-top: 0;
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 0px;
}

.impl-external-links li {
	display: inline-block;
	margin-right: 0.3rem;
	margin-left: 0.3rem;
	padding: 5px;
	border: solid 1px #888;
	border-top: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.impl-external-links a {
	text-decoration: none;
}

.impl-external-links a:hover{
    font-weight:bolder;
    cursor: pointer;
}

/* 
 *
 * Search result list
 *
 */

 .language-list ul {
	 display: flex;
	 flex-wrap: wrap;
 }

.idiom-summary-medium .lead-and-picture {
	display: flex;
}

.idiom-summary-medium .idiom-picture img {
	padding-left: 1rem;
	max-width: 4rem;
	max-height: 4rem;
}

/*
 *
 * Footer
 *
 */

.page-content{
    padding-bottom: 140px;    /* approx height of footer */
}

footer {
  color: #555555;

  display: flex;
  justify-content: space-around;

  /* See https://stackoverflow.com/questions/8824831/make-div-stay-at-bottom-of-pages-content-all-the-time-even-when-there-are-scrol/8825714#8825714 */  
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0; 
}

footer > div {
	display: inline-block;
	padding: 0.2rem;
}

.about-link {
	text-decoration: none;
}

/*
 *
 * Extra elements for large displays only.
 *
 */