/* General */

html, body{
    height: 100%;
}

html, body{
    padding: 0px;
}

@media (min-width: 980px) {
  footer {
    margin-top: 20px;
  }
}

.page-holder{
  	/* See http://stackoverflow.com/questions/8824831/make-div-stay-at-bottom-of-pages-content-all-the-time-even-when-there-are-scrol/8825714#8825714 */
    min-height: 100%;
    position:relative;
}

.page-content{
    padding-bottom: 140px;    /* approx height of footer */
}

.clr {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}

@media (max-width: 479px) {
    .show-on-desktop, .show-on-tablets, .hide-on-mobile { display: none; }
}
@media (min-width: 480px) and (max-width: 979px) {
    .show-on-desktop, .hide-on-tablets, .show-on-mobile { display: none; }
}
@media (min-width: 980px) {
    .hide-on-desktop, .show-on-tablets, .show-on-mobile { display: none; }
}

legend {
	margin-bottom: 4px;
}

.badge a {
  color: white;
}
.badge a.visited {
  color: white;
}

.badge-larger {
	font-size: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 5px;
}

.badge-lang {
	background-color: #0044cc;
}

.badge-fav-lang {
	background-color: #468847;
}

.badge-nonfav-lang {
	background-color: #666666;
}

.favorite-language {
	background-color: #008d02;  /* Something brighter than badge-success */
}

.sortable-lang li:hover {
    cursor: pointer;
}

.sortable-lang li.ui-sortable-helper{
    cursor: move;
}

.label-larger {
	font-size: 14px;
	margin-top: 4px;
}
.voting button {
  font-weight: bolder;
}
/* Header */
header.compact{
	margin-bottom: 10px;
}

.header_picto {
  float: left;
}

.header h1 {
/*
	float: left;
	margin-top: 0px;
*/
}

.header .slogan {
    float: left;
	margin-top: -4px;
	color: #aaa;
}

header .form-search {
  float: right;
  margin: 0;
}
.actions-dropdown {
  /* float: right; */
  padding-right: 8px;
}
.greetings{
	color: #bbbbbb;
	margin-bottom: 0;
}

.compact .navbar .nav>li {
	padding-top: 6px;
	padding-left: 18px;
}

.compact .navbar .nav>li>a {
	padding: 0px;
}

/* Blue background, white text */
.header .navbar,.header-small .navbar{
	margin-bottom: 2px;
}
.header .navbar-inner,.header-small .navbar-inner{
	background-color:#0000aa;
	background-image:-moz-linear-gradient(top, #0000aa, #3333dd);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0000aa), to(#3333dd));
	background-image:-webkit-linear-gradient(top, #0000aa, #3333dd);
	background-image:-o-linear-gradient(top, #0000aa, #3333dd);
	background-image:linear-gradient(to bottom, #0000aa, #3333dd);
	background-repeat:repeat-x;
	
	border-width: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.header,.header-small {
	color: white;
}
.header a,.header-small a {
	color: white;
}
.actions-dropdown a {
	color: black;
}

.blue-to-white{
	height: 3px;
	background-color: #00D;
	background-image: linear-gradient(to bottom, #3333dd, #ffffff);
}

/* Header small */
.header-small {
	margin: 0px 0px 12px 0px;
	padding: 0px;
}

.header-small img {
	margin: 3px 3px 3px 3px;
}

.header-small h1 {
	font-size: 24px;
	overflow-x : hidden;
	margin: 0px;
}

.header-small .slogan {
	margin-top: -4px;
	color: #aaa;
}

.header-small .navbar-inner {
	padding-left: 8px;
}

.header-small .nav>li {
	padding-top: 6px;
	padding-left: 18px;
	padding-right: 0px;
}

.header-small .navbar .nav>li>a {
	padding: 0px;
}

/* Issue #1: have a dice icon */
.pi-icon-dice{
	width: 16px;
	height: 15px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAQAAABHeoekAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQffCBoUGTiIReJKAAABA0lEQVQY023RPSvFcRQH8M//F+lamD0lMyEUMXgBslgNBl6EQcpkwaIsxGbiBZiUEmFwKQsLifJQppvlfwz3n66HczqdzvmevufJaWk9/NH5OOiDJ+7+gYX8JqIH6jbRo4wrr6qSVLKmUL7u7S7XfWICLZ78kExMXb4MpoR3W79hyPbi5jxBxQUmhf0CC6FEtixVEzla0V5D0FrM8+02jBrCGNqMuEVJymvqjnHmyIJHJ6rNU/o12SVua+I0RVRUeVZ0mZXZNW0J9HI/MBebMZOLxYh4Ky4ZETEcYi1Sx8V4Z+dIc8YOVgvik8Iaiq3bD0P+308+IkH2UN+/mP095bbnxi+vtXhgQzy30AAAAABJRU5ErkJggg==);
}

/* Messages zone */

.message-zone {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.message-zone .pimessage {
	padding-left: 20px;
	border-radius: 4px;
}

/* Idiom horizontal summary bar */

.language-list {
	padding : 6px;
}

.language-list .actions button{
	width: 36px;
}


.language-list ul {
  /*margin-top: -10px;*/

}
.language-list li {
  float: left;
  list-style: none;
  margin-right: 2px;
}

.language-bar-hint {
	color: #777;
	font-weight: bolder;
}

.language-list ul.favorite-languages{
	margin-left: 0px;
}


.favorite-language-remove {
	/* Remove icon hidden by default ?
	display: none;
	*/
}

.medium .badge {
  font-size: medium;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 2px;
}
.language-list li.active {
  /* background-image: url("../img/language_picto_green_48x48.png") */

}
.language-list li.inactive {
  /* background-image: url("../img/language_picto_grey_48x48.png") */

}


.addible-languages-pool {
	display: none; /* <- Doesn't work? */
}

/* Right column */
.right_column {
	color: #888;
}
.right_column h3{
	margin-bottom: 0px;
}

/* Idiom navigation lists */

.idioms_nav_list h2,.idioms_nav_list h3 {
	margin-top: -10px;
}

/* Homepage column lists */
.idiom-summary-small {
  background-color: #F7FFFF;
}
.idiom-summary-small .idiom_id {
  float: left;
  background-color: #799cad;
  margin-right: 3px;
  font-weight: bolder;
  padding-right: 6px;
}
.idiom-summary-small .small-rating {
  float: left;
}
.idiom-summary-small .idiom_title {
  float: left;
  padding-left: 5px;
  font-weight: bold;
}
.idiom-summary-small .idiom_cover .count {
  float: right;
}
.idiom-summary-small .idiom_cover .full {
  float: right;
  display: none;
}
/* Result list */
.idiom-summary-medium h1 {
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 8px 0;
}

.idiom-summary-medium h1 a{
	color: #006699;
}
.idiom-summary-medium {
  background-color: #F7FFFF;
}
.idiom-summary-medium .idiom_id {
  float: left;
  font-weight: bolder;
  padding-right: 6px;
}
.idiom-summary-medium .idiom_title {
  float: left;
  font-weight: bold;
}
.idiom-summary-medium .language-list {
  float: left;
  padding-left: 10px;
}

/* Idiom detail */
.idiom-summary-large h1 {
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 8px 0;
}

.idiom-summary-large h1 a{
	color: #006699;
}
.idiom-summary-large {
  background-color: #F7FFFF;
}
.idiom-summary-large .idiom_id {
  float: left;
  font-weight: bolder;
  padding-right: 6px;
}
.idiom-summary-large .idiom_title {
  float: left;
  font-weight: bold;
}
.idiom-summary-large .idiom-picture img{
  height: 160px;
}
.idiom-summary-large .language-list {
  float: left;
  padding-left: 10px;
}
.variable {
	font-weight: bold;
	font-style: italic;
}

/* Modal nickname popin */
.form-nickname {
	margin: 0;
}

/* Tabbed implementations in Idiom Detail */

li > a.lang-tab {
	padding : 4px 6px 4px 6px;
}

.sortable-y .handle:hover {
    cursor: move;
}

.sortable-y .handle span:hover {
    cursor: move;
}

/* Import statements (boring) are greyed out */
.piimports pre{
	color: #777;
	border-bottom: 0px;
    border-color: #D7D7D7;
	margin-bottom: 0px;
    padding: 2px 4px 4px 15px;
    font-size: 16px;
}

/* Code zone (read-only, pretty-printed) */
pre.prettyprint {
    padding: 4px 4px 10px 15px;
    border-color: #AAA;
    /*
    width: auto;
    overflow-x: scroll;
    */
    margin-bottom: 1px;

    font-size: 16px;
    font-weight: bold;
}

/* Code zone (in forms) */
textarea.impl-code{
	font-family: monospace;
}

/* Demo link, Origin link */
.impl-external-links{
	margin-bottom: 14px;
}

.impl-external-links.tabs-below > .nav-tabs {
	border-top: 0px;
}

.impl-external-links a{
	margin-right: 8px;
}


.impl-external-links .nav-tabs > .active > a:hover{
    font-weight:bolder;
    cursor: pointer;
}

.btn.btn-edit{
	margin-bottom: 4px;
}

.btn.show-impl-grid{
	margin-bottom: 4px;
}

/* Impl grid */

.modal-impl-grid {
	width: 1400px;
	margin-left: -700px;
	max-height: 80%;
	overflow-y:auto;
}

.impl-grid {
	margin: 0px;
	padding-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
}

.row-fluid .impl-cell {
	min-height: 130px;
	margin-left: 1.418%;
}
.row-fluid .impl-cell .nav-tabs {
	margin-bottom: -1px;
	border-bottom: none;
}
.row-fluid .impl-cell .nav-tabs a {
	background-color: #F5F5F5;
}
.row-fluid .impl-cell pre {
	border-radius: 0px 4px 4px 4px;
}

/* Create/Edit forms */

.form-horizontal .idiom_title {
	padding-left: 3px;
	font-weight: bold;
}
.form-horizontal .idiom_title a:link{
	color: #555;
}

.modal-idiom-preview, .modal-impl-preview {
	width: 850px;
	margin-left: -425px
}

.impl-preview {
	padding-left: 10px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-right: 10px;
}

/* Contribution rules bla bla bla */
.contribution-rules-small {
  color: #555555;
}
/* Footer */
footer {
  color: #555555;
  /*margin-top : 10px;*/

  /* See http://stackoverflow.com/questions/8824831/make-div-stay-at-bottom-of-pages-content-all-the-time-even-when-there-are-scrol/8825714#8825714 */  
  /*height: 100px;*/ 
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0; 
}
footer .well{
	margin-bottom: 0px;
}
footer a {
  color: #555555;
  text-decoration: underline;
}
footer a.visited {
  color: #555555;
}
.powered-by {
  float: right;
  font-size: smaller;
  color: #888888;
}
.powered-by a {
  color: #888888;
}
.powered-by a.visited {
  color: #888888;
}
.about-link {
	padding-left: 20px;
	text-decoration: none;
	float: right;
}

/* All idioms list */
.key {     
	font-weight: bold;
	padding: 0.1em 0.6em;
    border: 1px solid #CCC;
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #F7F7F7;
    color: #333;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 2px #FFF inset;
    border-radius: 3px;
    display: inline-block;
    margin: 0px 0.1em;
    text-shadow: 0px 1px 0px #FFF;
    line-height: 1.4;
    white-space: nowrap;
}

.all-idioms {
	margin-bottom: 10px;
}

.all-idioms td {
	padding-left: 6px;
	padding-right: 6px;
}
.all-idioms .badge {
	margin-left: 5px;
}

.all-idioms .idiom-cell {
	margin-left: 0px;
	margin-bottom: 5px;
	padding-left: 8px;
}

.all-idioms .idiom-cell .impl-count {
	color: #777;
	font-size: -1;
}

.all-idioms .idiom-cell a.btn {
	text-align: left;
	padding-left: 8px;
	padding-right: 5px;
	margin: 3px;
}

/* About : language coverage */

.language-coverage th {
	padding-left: 3px;
	padding-right: 3px;	
	min-width: 30px;
}

.language-coverage th.idiom-title{
	min-width: 300px;
	text-align: left;
	/*
    background-image: url("/v1/img/blue_dot_t.png");
    background-repeat: repeat-x;
    */
}

.language-coverage th.idiom-title>a{
	/*
    background-color: white;
    */
}

.language-coverage td {
	padding-left: 3px;
	padding-right: 3px;	
	text-align: center;
}

.language-coverage tr.highlight {
	background-color: #FFD;
}

.language-coverage .highlight {
	/* For the current column */
	background-color: #FFD;
}

.language-coverage .hover {
	background-color: #2F2;
}

.language-coverage .hover {
	background-color: #770;
}

.language-coverage col.highlight {
	background-color: #FFD;
}

.coverage-fav-lang {
	color: #468847;
}

.language-coverage th.fold-unfold {
	/*
	background-color: #DDF;
	*/
}

.language-coverage td.fold-unfold {
	/*
	background-color: #EEF;
	*/
}

.language-coverage .fold-unfold:hover {
    cursor: pointer;
}

.list-external-sites li{
	margin-bottom: 20px;
}

/* */

.toggles-list {
	height: 500px;
	overflow-y : scroll;
}

/* Bootstrap theme customization */