body.backlog {
    background-color: #EEEEFF;
}

.backlog table {
    width:100%;
}

.backlog table.singletons h3,
.backlog table.stubs h3 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.4rem;
}


.backlog table td.idiom-header {
    background-color: white;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.backlog table td.impl-singleton {
    background-color: white;
    border-bottom: 1rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 128px 48px;
    padding-left: 0.5rem;
}
.backlog table tr.spacer td {
    height: 0.5rem;
}
.backlog table.stubs td.idiom-header {
    border-radius: 12px;
}

.backlog td.idiom-header {
    /* column-span: all; */
}

.backlog td.impl-actions {
    width: 12rem;
    vertical-align: top;
    text-align: right;
    padding-right: 0.5rem;
}

.backlog td.idiom-actions {
    /* width: 12rem; */
    vertical-align: top;
    text-align: right;
    padding-right: 0.5rem;
}

.backlog td.impl-actions button,
.backlog td.idiom-actions button {
    margin: 0.2rem;
    background-color: #2707cc;
    background-image: linear-gradient(to bottom, #6633cc, #2200cc);
    border-radius: 0.2rem;
}

.backlog .pie {
    float: left;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
    margin: 1rem;
    margin-top: -0.5rem;
}