.page-cheatsheet.multi .idiom-title-and-lead {
    width: 20%;
}

.page-cheatsheet.multi .impl-code {
    width: 40%;
    padding-right: 0.6em;
}

.idiom-title-and-lead .alt-impl {
    font-style: italic;
    font-weight: bold;
    color: #BBB;
}

.page-print {
    float: right;
    margin-left: 2rem;
}

@media print {
    .page-cheatsheet.multi .idiom-title-and-lead {
        width: 20%;
    }
    .page-cheatsheet.multi .impl-code {
        width: 40%;
    }
}