body {
    background-color: #CEC;
}
header > * {
    vertical-align: middle;
    margin: 0.2rem;
}
header > h1 {
    margin: 0.2rem 0.5rem 0.2rem 0.5rem;
}
h1 > a {
    text-decoration: none;
}

.idiom-picture img {
    max-width: 9rem;
    max-height: 3rem;
}