{{define "page-admin"}}
{{template "prologue"}}  
{{template "head" .PageMeta}}  
<body>
<div class="page-holder">
	{{template "header-admin" .}}
	<div class="page-content container-fluid">
			
		<div class="row-fluid">
		
			<div class="span3">
				<form method="POST">
				  <fieldset>
				    <legend>Toggles</legend>
					<button type="button" class="btn btn-primary" id="refresh-toggles">Refresh from datastore</button>
					<div class="toggles-list">
						<table>
					    	{{range allToggleNames}}
					    	<tr><td>
								<label for="toggle-{{.}}" class="checkbox">
									<input type="checkbox" id="toggle-{{.}}" data-toggle-name="{{.}}" {{if index $.PageMeta.Toggles .}}checked="checked"{{end}} /> {{.}}
								</label>
					    	</td></tr>
					    	{{end}}
						</table>
				    </div>
				  </fieldset>
				</form>
			</div>
			
			<div class="span3">
				<form action="{{hostPrefix}}/admin-data-export">
				  <fieldset>
				    <legend>Export to file</legend>
				    <label>Format</label>
					<div class="btn-group" data-toggle="buttons-radio">
						<button type="button" class="btn btn-primary">JSON</button>
						{{/*
						<button type="button" class="btn btn-primary">XML</button>
						<button type="button" class="btn btn-primary">ODS</button>
						*/}}
					</div>
					<button type="submit" class="btn">Export</button>
				  </fieldset>
				</form>
			</div>
				
			<div class="span3">
				<form id="import-form" enctype="multipart/form-data" method="POST">
				  <fieldset>
				    <legend>Import from file</legend>
				    <input type="file" name="importData" required="required" />
				    <label class="checkbox">
      					<input type="checkbox" name="purge"> Purge
    				</label>
					<input type="button" class="btn upload" value="Import" />
				  </fieldset>
				</form>
			</div>
				
			<div class="span3">
				<form id="reindex-form" enctype="multipart/form-data" method="POST">
				  <fieldset>
				    <legend>Full Text Index</legend>
					<input type="button" class="btn submit" value="Reindex all idioms" />
				  </fieldset>
				</form>
			</div>

			<div class="span3">
				<form id="repair-history-form" enctype="multipart/form-data" method="POST">
				  <fieldset>
				    <legend>Repair history</legend>
				    <label for="idiomId">Idiom Id</label>
				    <input type="text" name="idiomId" class="idiom input-small" required="required" value="" />
					<input type="button" class="btn submit" value="Repair" />
				  </fieldset>
				</form>
			</div>
			
			<div class="span3">
				<form id="relation-form" enctype="multipart/form-data">
				  <fieldset>
				    <legend>Add relation</legend>
				    <label for="idiomAId">Idiom Id A</label>
				    <input type="text" name="idiomAId" class="idiomA input-small" required="required" value="" />
				    <label for="idiomBId">Idiom Id B</label>
				    <input type="text" name="idiomBId" class="idiomB input-small" required="required" value="" />
					<input type="button" class="btn create-relation" value="Associate" />
				  </fieldset>
				</form>
			</div>

			<div class="span3">
				<form id="message-for-user-form" enctype="multipart/form-data">
				  <fieldset>
				    <legend>New message for user</legend>
				    <label for="username">User</label>
				    <input type="text" name="username" class="input-small" required="required" value="" />
				    <label for="message">Message</label>
				    <textarea name="message" class="" required="required" ></textarea>
					<input type="button" class="btn send-message-for-user" value="Send" />
				  </fieldset>
				</form>
			</div>

			<div class="span3">
				  <fieldset>
				    <legend>Flagged contents</legend>
				    <a href="/admin-flagged">View list</a>
				  </fieldset>
			</div>

			<div class="span3">
				  <fieldset>
					<form id="memcache-flush-form" enctype="multipart/form-data" method="POST">
					  <fieldset>
						<legend>Memcache</legend>
						<input type="button" class="btn submit" value="Flush" />
					  </fieldset>
					</form>
				  </fieldset>
			</div>
			
		</div>
		
	</div>
{{template "include-js" .}}  
</div>
</body>
{{template "close-html"}}
{{end}}
