{{define "project-language-coverage"}}
	{{$favlangs := .UserProfile.FavoriteLanguages}}
	{{with .Coverage}}
		<table class="language-coverage">
    		<colgroup></colgroup>
    		<colgroup></colgroup>
			{{range .Languages}}
    			<colgroup></colgroup>
    		{{end}}
    		<thead>
				<tr>
					<th></th>
					<th></th>
					{{range $j, $lang := .Languages}}
						<th data-lang="{{$lang}}" class="{{langCoverageClass $lang $favlangs}}" title="{{printNiceLang $lang}}">
							<span>{{printNiceLang $lang}}</span>
						</th>
					{{end}}
				</tr>
			</thead>
			<tbody>
			{{$cover := .}}
			{{range $i, $idiomId := .IdiomIds}}
				<tr class="highlightable">
					<th data-idiom-id="{{$idiomId}}"><span class="idiom_id label"># {{$idiomId}}</span></th>
					<th class="idiom-title"><a href="idiom/{{$idiomId}}">{{index $cover.IdiomTitles $i}}</a></th>
					{{range $j, $lang := $cover.Languages}}
						<td>
							{{$implId := index $cover.Checked $idiomId $lang}}
							{{if $implId}}
								<a href="{{hostPrefix}}/idiom/{{$idiomId}}/impl/{{$implId}}"><span class="{{langCoverageClass $lang $favlangs}}"><i class="fas fa-check-square fa-2x"></i></span></a>
							{{else}}
								<a href="{{hostPrefix}}/impl-create/{{$idiomId}}/{{$lang}}"><i class="fas fa-circle-notch fa-2x {{langCoverageClass $lang $favlangs}}"></i></a>
							{{end}}
						</td>
					{{end}}
				</tr>
			{{end}}
			</tbody>
		</table>
	{{end}}
{{end}}
