{{define "search-input"}}
	{{if .PageMeta.Toggles.searchable}}
		{{if not .PageMeta.Toggles.editing}}
			<form class="form-search" action="{{hostPrefix}}/search">
				<div class="input-append">
					<input type="search" class="search-query input-medium" placeholder="Keywords..." name="q" value="{{.PageMeta.SearchQuery}}" required="required">
					<button type="submit" class="btn"><i class="fas fa-search"></i></button>
				</div>
			</form>
		{{end}}
	{{end}}
{{end}}

{{define "actions-button"}}
	{{if .PageMeta.Toggles.writable}}
		{{if not .PageMeta.Toggles.editing}}
			<div class="actions-dropdown">
				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fas fa-fixed-width icon-bolt"></i> Actions <span class="caret"></span>
					</a>
					<ul class="dropdown-menu pull-right">
						{{if .PageMeta.Toggles.idiomCreation}}
							<li><a href="{{hostPrefix}}/idiom-create"><i class="fas fa-fixed-width icon-plus"></i> New idiom</a></li>
						{{end}}
						{{if and .PageMeta.Toggles.idiomEditing .PageMeta.Toggles.actionEditIdiom}}
							<li class="divider"></li>
							<li><a href="{{hostPrefix}}/idiom-edit/{{.Idiom.Id}}"><i class="fas fa-fixed-width icon-edit"></i> Edit idiom statement</a></li>
							{{if or .PageMeta.Toggles.pictureEditing .UserProfile.IsAdmin}}
								<li><a href="{{hostPrefix}}/idiom-add-picture/{{.Idiom.Id}}"><i class="fas fa-fixed-width icon-camera"></i> Add picture</a></li>
							{{end}}
						{{end}}
						{{if .PageMeta.Toggles.actionIdiomHistory}}
							<li><a href="{{hostPrefix}}/history/{{.Idiom.Id}}"><i class="fas fa-fixed-width icon-sort-by-attributes-alt"></i> Idiom history</a></li>
						{{end}}
						{{if and .PageMeta.Toggles.implEditing .PageMeta.Toggles.actionEditIdiom}}
							{{range .Idiom.Implementations}}
								<li><a href="{{hostPrefix}}/impl-edit/{{$.Idiom.Id}}/{{.Id}}"><i class="fas fa-fixed-width icon-pencil"></i> Edit {{.LanguageName | printNiceLang}} implementation</a></li>
							{{end}}
						{{end}}
						{{if and .PageMeta.Toggles.implAddition .PageMeta.Toggles.actionAddImpl}} 
							<li class="divider"></li>
							<li><a href="{{hostPrefix}}/impl-create/{{.Idiom.Id}}"><i class="fas fa-fixed-width icon-plus-sign"></i> Add an implementation to this idiom</a></li>
						{{end}}
					</ul>
				</div>
			</div>
		{{end}}
	{{end}}
{{end}}

{{define "greetings"}}
	<p class="greetings">
	{{if .PageMeta.Toggles.greetings}}
		{{if .UserProfile.Nickname}}
			<i class="fas fa-user user-info-link"> <a href="#">{{.UserProfile.Nickname}}</a></i> <button class="remove-nickname fas fa-times" aria-label="Clear username" title="Clear username"></button>
		{{end}}
	{{end}}
	</p>
{{end}}

{{define "save-button-with-notice"}}
	<button class="btn btn-primary show-popover"
			data-toggle="popover"
			data-content="You agree to publish under the CC-BY-SA License"
	>Save</button>
{{end}}

{{define "language-single-select"}}
	<div class="input-append language-single-select"
		data-toggle="popover" data-content="Type ahead, or select one">
	  <input type="text" class="span4 typeahead" autocomplete="off" name="{{.LanguageSingleSelector.FieldName}}" 
	  	value="{{printNiceLang .LanguageSingleSelector.Selected}}" required="required" data-provide="typeahead"  placeholder="Name..." />
	  <div class="btn-group">
	    <button class="btn dropdown-toggle" data-toggle="dropdown">
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu inline language-choices">
	    {{if .UserProfile.FavoriteLanguages}}
		    {{range .UserProfile.FavoriteLanguages}}
		      <li data-language="{{.}}"><a href="#" class="selector-language"><span class="badge badge-success badge-larger">{{. | printNiceLang}}</span></a></li>
			{{end}}
	    {{else}}
		    {{range mainStreamLanguages}}
		      <li data-language="{{.}}"><a href="#" class="btn selector-language">{{. | printNiceLang}}</a></li>
			{{end}}
		{{end}}
	    </ul>
	  </div>
	</div>
{{end}}

{{define "language-single-select-light"}}
	<div class="language-single-select"
		data-toggle="popover" data-content="Type ahead, or select one">
	  <input type="text" class="typeahead language input-small" 
			   autocomplete="off" name="{{.}}" data-provide="typeahead"  
			   placeholder="Name..." required="required" />
	</div>
{{end}}

{{define "language-input-suggest"}}
	  <input type="text" class="input-suggest-language input-small" data-provide="typeahead" placeholder="Other..." />
{{end}}

{{define "idiom-summary-large"}}
	{{$favlangs := .Deco.FavoriteLanguages}}
	{{$isAdmin := .Deco.IsAdmin}}
	{{with .Data}}
			<div class="well idiom-summary-large" data-idiom-id="{{.Id}}">
				<div class="row-fluid">
					<div class="span6">
						<h1>Idiom #{{.Id}} <a href="{{niceIdiomURL .}}">{{.Title}}</a></h1>
						<p class="idiom-lead-paragraph identifier-emphasize">{{markup2CSS .LeadParagraph}}</p>
						{{template "idiom-picture" .}}
						{{if .RelatedURLs}}
							<ul class="idiom-related-urls">
								{{$idiom := .}}
								{{range $i, $url := .RelatedURLs}}
									<li>
										<i class="fas fa-external-link-alt"></i>
										<a href="{{$url}}" target="_blank" rel="nofollow noopener" class="related-url-link">{{index $idiom.RelatedURLLabels $i}}</a>
									</li>
								{{end}}
							</ul>
						{{end}}
					</div>
					<div class="span4">
						<div class="language-list data-nosnippet">
							<ul class="inline">
								{{range .Implementations}}
									<li class="active"><span class="badge {{langBadgeClass .LanguageName $favlangs}}"><a href="{{niceImplURL $.Data .Id .LanguageName}}">{{.LanguageName | printNiceLang}}</a></span></li>
								{{end}}
							</ul>
						</div>
					</div>
					<div class="span1">
						{{template "voting-idiom" .}}
					</div>
					<div class="span1">
						<div class="show-on-desktop">
							{{template "idiom-impl-grid-button" .}}
							{{if or (not .Protected) $isAdmin}}
								{{template "idiom-edit-button" .}}
							{{end}}
							{{if $isAdmin}}
								{{template "idiom-delete-button" .}}
							{{end}}
						</div>
					</div>
				</div>
			</div>
	{{end}}
{{end}}

{{define "idiom-summary-medium"}}
	{{$favlangs := .Deco.FavoriteLanguages}}
	{{with .Data}}
			<div class="well idiom-summary-medium">
				<div class="row-fluid">
					<div class="span7">
						<h1>Idiom #{{.Id}} <a href="{{niceIdiomURL .}}">{{.Title}}</a></h1>
						<p class="idiom-lead-paragraph identifier-emphasize">{{markup2CSS .LeadParagraph}}</p>
					</div>
					<div class="span1">
						{{if .ImageURL}}<div class="idiom-picture"><img src="{{.ImageURL}}" alt="Illustration"/></div>{{end}}
					</div>
					<div class="span4">
						<div class="language-list data-nosnippet">
							<ul class="inline">
								{{range .Implementations}}
									<li class="active{{if .Deco.Matching}} matching{{end}}{{if .Deco.SearchedLang}} searched-lang{{end}}"><span class="badge {{langBadgeClass .LanguageName $favlangs}}"><a href="{{niceImplURL $.Data .Id .LanguageName}}">{{.LanguageName | printNiceLang}}</a></span></li>
								{{end}}
							</ul>
						</div>
					</div>
				</div>
			</div>
	{{end}}
{{end}}

{{define "idiom-link"}}
	Idiom #{{.Id}} : <a href="{{niceIdiomURL .}}">{{.Title}}</a>
{{end}}

{{define "idiom-table-line"}}
	{{$favlangs := .Deco.FavoriteLanguages}}
	{{with .Data}}
	<tr>
		<td><span class="idiom_id label"># {{.Id}}</span></td>
		<td><a href="{{niceIdiomURL .}}">{{.Title}}</a></td>
		<td>{{if toggled "showIdiomRating"}}{{if .Rating}}{{template "small-rating" .Rating}}{{end}}{{end}}</td>
		<td>{{range .Implementations}}<span class="badge {{langBadgeClass .LanguageName $favlangs}}"><a href="{{niceImplURL $.Data .Id .LanguageName}}">{{.LanguageName | printNiceLang}}</a></span>{{end}}</td>
	</tr>
	{{end}}
{{end}}

{{define "idiom-cell-fluid"}}
	{{with .Data}}
	<div class="span4 idiom-cell">
		<a class="btn btn-large btn-block" type="button" href="{{niceIdiomURL .}}">
			<span class="left">
				<span class="idiom_id label"># {{.Id}}</span>
				{{.Title}}
				{{if toggled "showIdiomRating"}}{{if .Rating}}{{template "extra-small-rating" .Rating}}{{end}}{{end}}
			</span>
			<span class="impl-count right">{{len .Implementations}} impl.</span>
			<span class="clearfix"></span> {{/* TODO is this last span the right solution...? */}}
		</a>
	</div>
	{{end}}
{{end}}

{{define "impl-code-and-comments"}}
	<div class="row-fluid">
		<div class="{{if .Impl.AuthorComment}}span7{{else}}span10{{end}} implementation" data-idiom-id="{{.Idiom.Id}}" data-impl-id="{{.Impl.Id}}" data-impl-lang="{{.Impl.LanguageName}}">
			{{template "implementation-code" .Impl}}

			<div class="impl-external-links tabbable tabs-below pull-right">
				<ul class="nav nav-tabs">
					{{if .Impl.DemoURL}}<li class="active demo"><a href="{{.Impl.DemoURL}}" target="_blank" rel="nofollow noopener">Demo <i class="fas fa-external-link-alt"></i></a></li>{{end}}
					{{if .Impl.DocumentationURL}}<li class="active doc"><a href="{{.Impl.DocumentationURL}}" target="_blank" rel="nofollow noopener">Doc <i class="fas fa-external-link-alt"></i></a></li>{{end}}
					{{if .Impl.OriginalAttributionURL}}<li class="active origin"><a href="{{.Impl.OriginalAttributionURL}}" target="_blank" rel="nofollow noopener">Origin <i class="fas fa-external-link-alt"></i></a></li>{{end}}
					<li class="active"><a href="#" class="copy-code-to-clipboard"><i class="far fa-copy" title="Copy snippet to the clipboard"></i></a></li>
				</ul>
			</div>

		</div>
		{{if .Impl.AuthorComment}}
		<div class="span3">
			<!-- Space for comments (when exist) -->
		</div>
		{{end}}
		<div class="span1">
			<div class="show-on-desktop">
				{{if or (and (not .Impl.Protected) (not .Idiom.Protected)) .UserProfile.IsAdmin}}
					{{template "impl-edit-button" decorate .Impl .Idiom}}
				{{end}}
				{{template "impl-flag-button" decorate .Impl .Idiom}}
				{{if .UserProfile.IsAdmin}}
					{{template "impl-delete-button" decorate .Impl .Idiom}}
					<br/>
					<a href="{{hostPrefix}}/history/{{.Idiom.Id}}/impl/{{.Impl.Id}}" class="" title="Implementation history">Impl history</a>
				{{end}}
			</div>
		</div>
		<div class="span1">
			{{template "voting-implementation" .Impl}}
		</div>
	</div>
{{end}}

{{define "impl-preview-skeleton"}}
	<div class="row impl-preview">
		<div class="span7 implementation">
			<div class="handle">
			    <ul class="nav nav-tabs language-names">
					<li class="active">
						<a href="#" class="lang-tab"><span class="label badge-lang"></span></a>
				    </li>
				</ul>
			</div>
			<div class="piimports">
				<pre></pre>
			</div>
			<div class="picode">
				{{/* TODO activate proper syntax color for current language? */}}
				<pre data-toggle="popover" data-content="" class="prettyprint"></pre>
			</div>

			<div class="impl-external-links tabbable tabs-below pull-right">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#" target="_blank" rel="nofollow noopener" class="impl-demo">Demo <i class="fas fa-external-link-alt"></i></a></li>
					<li class="active"><a href="#" target="_blank" rel="nofollow noopener" class="impl-doc">Doc <i class="fas fa-external-link-alt"></i></a></li>
					<li class="active"><a href="#" target="_blank" rel="nofollow noopener" class="impl-attribution">Origin <i class="fas fa-external-link-alt"></i></a></li>
				</ul>
			</div>

		</div>
		<div class="span3">
			<!-- Comments ? -->
		</div>
		{{/* Don't really need buttons... edit, vote, etc. */}}
	</div>
{{end}}

{{define "impl-code-ro"}}
	<div class="row-fluid">
		<div class="span7 implementation">
			{{template "implementation-code" .Impl}}
			<div class="impl-external-links tabbable tabs-below pull-right">
				<ul class="nav nav-tabs">
					{{if .Impl.DemoURL}}<li class="active"><a href="{{.Impl.DemoURL}}" class="ext-demo" target="_blank" rel="nofollow noopener">Demo <i class="fas fa-external-link-alt"></i></a></li>{{end}}
					{{if .Impl.DocumentationURL}}<li class="active"><a href="{{.Impl.DocumentationURL}}" class="ext-doc" target="_blank" rel="nofollow noopener">Doc <i class="fas fa-external-link-alt"></i></a></li>{{end}}
					{{if .Impl.OriginalAttributionURL}}<li class="active"><a href="{{.Impl.OriginalAttributionURL}}" class="ext-origin" target="_blank" rel="nofollow noopener">Origin <i class="fas fa-external-link-alt"></i></a></li>{{end}}
				</ul>
			</div>
		</div>
	</div>
{{end}}

{{define "voting-idiom"}}
	<div class="btn-group btn-group-vertical voting">
	  {{if toggled "idiomVotingUp"}}
	  <button data-idiom-id="{{.Id}}" data-vote-choice="up" class="btn popover-on-hover voting-idiom {{if .Deco.UpVoted}}active{{end}}" data-toggle="popover" data-content="This idiom statement is promising" data-placement="top" data-loading-text="<i class='icon-spinner icon-spin'></i>"><i class="fas fa-plus"></i></button>
	  {{end}}
	  {{if toggled "idiomVotingDown"}}
	  <button data-idiom-id="{{.Id}}" data-vote-choice="down" class="btn popover-on-hover voting-idiom {{if .Deco.DownVoted}}active{{end}}" data-toggle="popover" data-content="This idiom has problems"  data-placement="bottom" data-loading-text="<i class='icon-spinner icon-spin'></i>"><i class="fas fa-minus"></i></button>
	  {{end}}
	</div>
	{{if toggled "showIdiomRating"}}		
		<span class="voting_score {{if not .Rating}}hidden{{end}}"><i class="fas fa-star icon-small"> {{.Rating}}</i></span>
	{{end}}
{{end}}


{{define "voting-implementation"}}
	<div class="btn-group btn-group-vertical voting">
	  {{if toggled "implVotingUp"}}
	  <button type="button" data-impl-id="{{.Id}}" data-vote-choice="up"  class="btn popover-on-hover voting-impl {{if .Deco.UpVoted}}active{{end}}" data-toggle="popover" data-content="This implementation is useful" data-placement="top" data-loading-text="<i class='icon-spinner icon-spin'></i>"><i class="fas fa-plus"></i></button>
	  {{end}}
	  {{if toggled "implVotingDown"}}
	  <button type="button" data-impl-id="{{.Id}}" data-vote-choice="down" class="btn popover-on-hover voting-impl {{if .Deco.DownVoted}}active{{end}}" data-toggle="popover" data-content="This implementation has problems" data-placement="bottom" data-loading-text="<i class='icon-spinner icon-spin'></i>"><i class="fas fa-minus"></i></button>
	  {{end}}
	</div>
	{{if toggled "showImplRating"}}
		<span class="voting_score {{if not .Rating}}hidden{{end}}"><i class="fas fa-star icon-small"> {{.Rating}}</i></span>
	{{end}}
{{end}}

{{define "implementation-code"}}
	{{with .ImportsBlock}}
		<div class="piimports">
			<pre>{{.}}</pre>
			<div class="right copy-imports-to-clipboard">
				<a href="#"><i class="far fa-copy" title="Copy imports to the clipboard"></i></a>
			</div>
		</div>
	{{end}}
	<div class="picode">
		{{if trim .CodeBlock}}
			<pre data-toggle="popover" data-content="{{markup2CSS .AuthorComment | html}}" class="prettyprint {{.LanguageName | prettifyCSSClass}}">{{.CodeBlock}}</pre>
		{{end}}
		{{if .PictureURL}}
			<div class="impl-picture"><img src="{{.PictureURL}}" alt="Illustration"/></div>
		{{end}}
	</div>
{{end}}

{{define "small-rating"}}
	<span class="small-rating"><i class="fas fa-star icon-small"></i> {{.}}</span>
{{end}}

{{define "extra-small-rating"}}
	<span class="small-rating" title="{{.}} votes"><i class="fas fa-star icon-small"></i></span>
{{end}}

{{define "small-id-and-rating"}}
	<table class="left">
		<tr>
			<td>
				<span class="idiom_id label"># {{.Id}}</span>
			</td>
		</tr>
		<tr>
			<td>
				{{if toggled "showIdiomRating"}}
					{{if .Rating}}
						{{template "small-rating" .Rating}}
					{{end}}
				{{end}}
			</td>
		</tr>
	</table>
{{end}}

{{define "idiom-impl-grid-button"}}
	<a class="btn show-impl-grid" title="View implementations in grid"><i class="fas fa-th"></i></a>
{{end}}

{{define "idiom-edit-button"}}
	<a href="{{hostPrefix}}/idiom-edit/{{.Id}}" class="btn btn-info btn-edit" title="Edit this idiom statement" ><i class="fas fa-edit"></i></a>
{{end}}

{{define "idiom-delete-button"}}
	<a href="#" data-url="{{hostPrefix}}/admin-idiom-delete?idiomId={{.Id}}" class="btn btn-danger ajax-generic-action reason-needed btn-delete" title="Delete this idiom"><i class="fas fa-times-circle"></i></a>
{{end}}

{{define "impl-edit-button"}}
	<a href="{{hostPrefix}}/impl-edit/{{.Deco.Id}}/{{.Data.Id}}" class="btn btn-info btn-edit" title="Edit this implementation" ><i class="fas fa-edit"></i></a>
{{end}}

{{define "impl-flag-button"}}
	<a class="btn btn-info btn-flag-impl" title="Flag this implementation" data-idiom-id="{{.Deco.Id}}" data-impl-id="{{.Data.Id}}" data-idiom-version="{{.Deco.Version}}"><i class="fas fa-flag"></i></a>
{{end}}

{{define "impl-delete-button"}}
<a href="#" data-url="{{hostPrefix}}/admin-impl-delete?idiomId={{.Deco.Id}}&implId={{.Data.Id}}" class="btn btn-danger ajax-generic-action reason-needed btn-delete" title="Delete this implementation"><i class="fas fa-times-circle"></i></a>
{{end}}

{{define "input-username"}}
	<div class="control-group">
		<label class="control-label" for="user_nickname">Username</label>
		<div class="controls">
			<input type="text" name="user_nickname" class="input-xlarge"
				placeholder="Your nickname here" required="required"
				spellcheck="false"
				maxlength="30" value="{{.}}" />
		</div>
	</div>
{{end}}

{{define "contribution-rules-small-info"}}
	<div class="well contribution-rules-small">
		<p>
			Be concise.
		</p>
		<p>
			Be useful.
		</p>
		<p>
			All contributions dictatorially edited by webmasters to match personal tastes.
		</p>
		<p>
			<strong>Please do not paste any copyright violating material.</strong>
		</p>
		<p>
			Please try to avoid dependencies to third-party libraries and frameworks.
		</p>
	</div>
{{end}}

{{define "modal-nickname"}}
	<div class="modal hide fade" id="modal-nickname">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Please choose a nickname before doing this</h3>
	  </div>
	  <form class="form-nickname">
		  <div class="modal-body">
		    <input type="text" class="nickname" placeholder="Nickname..." />
		    
		    <p>No security, no password. Other people might choose the same nickname.</p>
		  </div>
		  <div class="modal-footer">
		    <button type="submit" class="btn btn-primary btn-ok">OK</button>
		  </div>
	  </form>
	</div>
{{end}}

{{define "modal-impl-preview"}}
	<div class="modal hide fade modal-impl-preview">
	  <div class="modal-header">
	    <h3>Preview</h3>
	  </div>
	  {{template "impl-preview-skeleton"}}
	</div>
{{end}}

{{define "modal-idiom-preview"}}
	<div class="modal hide fade modal-idiom-preview">
	  <div class="modal-header">
	    <h3>Preview</h3>
	  </div>

	  <div class="row-fluid idiom-preview">
	  	<div class="span10">
			<div class="well idiom-summary-large">
				<div class="row-fluid">
					<div class="span6">
						<h1 class="idiom-title">ZeTitle</h1>
						<p class="idiom-lead-paragraph identifier-emphasize">Lead markup interpreted</p>
					</div>
				</div>
			</div>
		</div>
	  </div>

	  {{template "impl-preview-skeleton"}}
	</div>
{{end}}

{{define "modal-impl-grid"}}
	<div class="modal hide fade modal-impl-grid data-nosnippet">
		<div class="impl-grid">
			<div class="container-fluid">
				<div class="row-fluid">
				  	{{/* Implementation cells go here. */}}
				  	{{/* TODO: loading this stuff in ajax would save 7% of the page bytes, but would require server-side boilerplate. */}}
				  	{{/* TODO: extracting this stuff from already-displayed tabs would save 7% of the page bytes. */}}
					{{template "modal-impl-grid-content" .}}
				</div>
			</div>
		</div>
	</div>
{{end}}

{{define "modal-impl-grid-content"}}
	<div>
	</div>
	{{range .Idiom.Implementations}}
		<div class="span4 impl-cell">
			<ul class="nav nav-tabs language-names">
				<li class="active">
					<a href="#impl{{.Id}}" class="lang-tab"><span class="label {{langBadgeClass .LanguageName $.UserProfile.FavoriteLanguages}}">{{.LanguageName | printNiceLang}}</span></a>
				</li>
			</ul>
			<pre>{{.CodeBlock}}</pre>
		</div>
	{{end}}
{{end}}

{{define "admin-lmgtfy"}}
	<div>
		<a href="https://google.com/search?q={{.LanguageSingleSelector.Selected}}+{{.Idiom.Title}}" target="_blank"><strong>LMGTFY {{.LanguageSingleSelector.Selected}} {{.Idiom.Title}}</strong></a>
		<br/>
		<br/>
		<br/>
		{{/*  Not possible because of "X-Frame-Options: SAMEORIGIN" response header
		<iframe width="100%" height="800px" src="https://google.com/search?q={{.LanguageSingleSelector.Selected}}+{{.Idiom.Title}}"></iframe>
		*/}}
	</div>
{{end}}

{{define "idiom-picture"}}
	{{if hasSuffix .ImageURL ".webp"}}
		{{$fallback := replace .ImageURL ".webp" ".png" -1}}
		<div class="idiom-picture">
			<picture>
				<source srcset="{{.ImageURL}}" type="image/webp">
				<source srcset="{{$fallback}}" type="image/png">
				<img src="{{$fallback}}"
					{{if .ImageWidth}}width="{{.ImageWidth}}"{{end}}
					{{if .ImageHeight}}height="{{.ImageHeight}}"{{end}}
					{{if .ImageAlt}}alt="{{.ImageAlt}}"{{end}}
				/>
			</picture>
		</div>
	{{else if .ImageURL}}
		<div class="idiom-picture">
			<img src="{{.ImageURL}}" alt="Illustration"
				{{if .ImageWidth}}width="{{.ImageWidth}}"{{end}}
				{{if .ImageHeight}}height="{{.ImageHeight}}"{{end}}
			/>
		</div>
	{{end}}
{{end}}

