{{define "header"}}

<div id="header">
	<div class="limit-width">
		<a class="logo" href="/"><img src="{{hostPrefix}}{{themeDir}}/img/logo.png" alt=""></a>
		<form class="search" action="/search">
			<input name="q" class="search-query" placeholder="keywords">
			<button class="search-submit" type="submit">&#128269;</button>
		</form>
		<form class="search" action="#">
			<button class="search-submit" type="submit">? </button>
			{{if not .PageMeta.Toggles.editing}}
				<a href="{{hostPrefix}}/random-idiom" class="search-submit">⚂ </a>
			{{end}}
			<button class="search-submit" type="submit">A </button>
		</form>
		<div class="clear"></div>
		<div class="clear"></div>
	</div>
</div>

{{template "message-zone"}}
{{end}}