{{define "header"}}
<header class="compact header">
	<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
              <li>
                <a href="{{hostPrefix}}/"><img src="{{hostPrefix}}{{themeDir}}/img/wheel_64x64.png" width="64" height="64" class="header_picto" /></a>
              </li>
              <li class="">
				<h1><a href="{{hostPrefix}}/">Programming-Idioms</a></h1>
				<div class="slogan">Please don't reinvent the wheel.</div>
              </li>
              <li class="">
				{{template "greetings" .}}
              </li>
              <li class="">
				<div class="hide-on-mobile">
					{{template "actions-button" .}}
				</div>
              </li>
              <li>
                <a href="{{hostPrefix}}/random-idiom"><img src="{{hostPrefix}}{{themeDir}}/img/dice_64x64.png" width="64" height="64" class="header_picto" title="Go to a random idiom" onmouseover="this.src='{{hostPrefix}}{{themeDir}}/img/dice_64x64_highlight.png';" onmouseout="this.src='{{hostPrefix}}{{themeDir}}/img/dice_64x64.png';" /></a>
              </li>
              <li class="">
				{{template "search-input" .}}
              </li>
		</ul>
	</div>
	<div class="blue-to-white">&nbsp;</div>
	</div>
</header>

{{template "message-zone"}}
{{end}}