{{define "header-small"}}
<header>
	<a href="/">
		<img src="{{hostPrefix}}{{themeDir}}/img/wheel_48x48.png" width="48" height="48" class="header_picto">
	</a>
	<h1><a href="/">Programming-Idioms</a></h1>
	<a href="/random-idiom">
		<img src="{{hostPrefix}}{{themeDir}}/img/dice_32x32.png" width="32" height="32" class="picto die" title="Go to a random idiom">
	</a>
	<form class="form-search" action="/search">
		<input type="text" class="search-query" placeholder="Keywords..." name="q" value="" required="required">
		<button type="submit">Search</button>
	</form>
</header>
{{template "message-zone"}}
{{end}}