{{define "header-print"}}
<header class="header-print">
	<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
              <li>
                <a href="{{hostPrefix}}/"><img src="{{hostPrefix}}{{themeDir}}/img/wheel_64x64.png" width="24" height="24" class="header_picto" /></a>
              </li>
              <li class="">
				<h1><a href="{{hostPrefix}}/">Programming-Idioms.org</a></h1>
			  </li>
              <li class="">
				<div class="slogan"></div>
              </li>
		</ul>
	</div>
	</div>
</header>
{{end}}