{{define "block-about-contact"}}
	<div id="pi-contact">
		<h2>Contact</h2>
		<p>
			<li><a href="https://github.com/Deleplace/programming-idioms/discussions" target="_blank">Discuss on GitHub</a></li>
			<li><a href="https://github.com/Deleplace/programming-idioms/issues/new?assignees=Deleplace&labels=&template=bug_report.md&title=%5BBUG%5D+" target="_blank">Report a bug</a></li>
			<li><a href="https://github.com/Deleplace/programming-idioms" target="_blank">Sources on GitHub</a></li>
		</p>
	</div>
{{end}}
