{{define "block-about-project"}}
	<div id="pi-project">
		<h2>Programming-Idioms</h2>
		<p>
			In this website you can browse standard ways of coding standard things, in several popular programming languages.
		</p>
		<p>
			Enthusiastic programmers are welcome to participate by writing some implementations in their favorite language. Or by <a href="{{hostPrefix}}/idiom-create">creating a new idiom</a>.
		</p>
		<p>
			Content is <a href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">free</a> and provided as it is. No guarantee is made regarding the quality of the implementations, 
			or the identity of contributors.
		</p>
		<p>
			User "profiles" are stored in cookies containing nickname and favorites languages. As of 2020 there are no
			authentication system and no passwords, just provide a nickname if you participate.
		</p>
	</div>
{{end}}
