{{define "language-bar"}}
{{if .PageMeta.Toggles.languageBar}} 
<div class="limit-width language-bar">
	<span title="List of favorite languages.">Favorites:</span>
	<a title="Add a favorite language." class="language-add" href="#">+</a>
	{{range .UserProfile.FavoriteLanguages}}
		<span class="language">
			<a class="language-name" href="#">{{. | printNiceLang}}</a>
			<a class="language-remove" href="#">×</a>
		</span>
	{{end}}



	<div class="row-fluid" style="display: none;">
		<div class="span9">
			{{if empty .UserProfile.FavoriteLanguages}} 
				This language bar is your friend. Select your favorite languages!
			{{end}}
		</div>

		<div class="span12 addible-languages-pool" style="display: none;">
			Select your favorite languages :
			<ul>
			    {{range filterOut mainStreamLanguages .UserProfile.FavoriteLanguages}}
			    	<li data-language="{{.}}"><button class="btn btn-primary btn-mini active togglabe">{{. | printNiceLang}}</button></li>
				{{end}}
				<li>Or search : {{template "language-input-suggest" "language-bar-add"}}</li>
			</ul>
		</div>
	</div>
</div>
{{end}}
{{end}}
