{{define "right-column"}}
<div class="right_column">
	<div class="created_by">
		<h4>Idiom created by</h4>
		{{.Author}}
	</div>

	<div>
		{{/* TODO should check .PageMeta.Toggles.actionIdiomHistory */}}
		<a href="{{hostPrefix}}/history/{{.Id}}">View history</a>
	</div>
	
	{{if .RelatedIdiomIds}}
		<h4>Related idioms</h4>
		<ul class="related-idioms">
			{{range $i,$rid := .RelatedIdiomIds}}
				{{$title := index $.RelatedIdiomTitles $i}}
				<li><a href="{{niceIdiomIDTitleURL $rid $title}}">{{$title}}</a></li>
			{{end}} 
		</ul>
	{{end}} 

</div>
{{end}}