{{define "right-column"}}
<div class="right_column">
	{{$isAdmin := .Deco.IsAdmin}}
	{{with .Data}}
		{{$idiom := .}}
		<div class="created_by">
			<label>Idiom created by</label>
			{{.Author}}
		</div>

		<div>
			{{/* TODO should check .PageMeta.Toggles.actionIdiomHistory */}}
			<a href="{{hostPrefix}}/history/{{.Id}}">View history</a>
		</div>
		
		{{if .RelatedIdiomIds}}
			<label>Related idioms</label>
			<ul class="related-idioms">
				{{range $i,$rid := .RelatedIdiomIds}}
					{{$title := index $idiom.RelatedIdiomTitles $i}}
					<li><a href="{{niceIdiomIDTitleURL $rid $title}}">{{$title}}</a></li>
				{{end}} 
			</ul>
		{{end}} 

		{{if $isAdmin}}
			<form id="relation-form" enctype="multipart/form-data">
				<label>Add relation</label>
				<fieldset>
				  <input type="hidden" name="idiomAId" value="{{.Id}}" class="idiomA" />
				  <label>
					  Other idiom ID
					  <input type="text" name="idiomBId" class="idiomB input-small" required="required" value="" />
				  </label> <br/>
				  <input type="button" class="btn create-relation" value="Associate" />
				</fieldset>
			  </form>
		{{end}}
	{{end}}
</div>
{{end}}