{{define "block-about-cheatsheets"}}
	<div class="pi-cheatsheets">
		<h2>Cheatsheets</h2>

		<h3>One language <i class="fas fa-list"></i></h3>
		<p>See all implementations for one language, in a long one-pager list.</p>

		{{if .UserProfile.FavoriteLanguages}}
		<ul class="inline">
			{{range .UserProfile.FavoriteLanguages}}
				<li><a href="/cheatsheet/{{.}}" class="btn btn-success"><b>{{. | printNiceLang}}</b></i></a></li>
			{{end}}
		</ul>
		{{end}}

		<ul class="inline">
			{{range .AllLangs}}
				{{if not (isInStringList . $.UserProfile.FavoriteLanguages)}}
					<li><a href="/cheatsheet/{{.}}" class="btn btn-primary">{{. | printNiceLang}}</i></a></li> 
				{{end}}
			{{end}}
		</ul>

		<h3>Two languages <i class="fas fa-list"></i> <i class="fas fa-list"></i></h3>
		<p>See all implementations for 2 languages side-by-side, in a long one-pager list.</p>
		<form class="two-languages-select form-horizontal span4">
			<div class="control-group" data-original-title="" title="">
				<label class="control-label">Language 1</label>
				<div class="controls" data-original-title="" title="">
					{{template "language-single-select-light" "lang1"}}
				</div>
			</div>
			<div class="control-group" data-original-title="" title="">
				<label class="control-label">Language 2</label>
				<div class="controls" data-original-title="" title="">
					{{template "language-single-select-light" "lang2"}}
				</div>
			</div>
			<div class="control-group" data-original-title="" title="">
				<div class="controls" data-original-title="" title="">
					<input type="submit" value="Compare" class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>
{{end}}
