{{define "block-other-implementations"}}
			<div class="implementations-tabs">
				<ul class="nav nav-tabs">
					{{range .Idiom.Implementations}}
							<li>
								<a href="#impl{{.Id}}" class="lang-tab"><span class="label {{langBadgeClass .LanguageName $.UserProfile.FavoriteLanguages}}">{{.LanguageName | printNiceLang}}</span></a>
							</li>
					{{end}}
				</ul>
				{{range .Idiom.Implementations}}
					<div id="impl{{.Id}}">
						<div class="">
							{{template "impl-code-ro" dict "Idiom" $.Idiom "Impl" . "UserProfile" $.UserProfile}}
	
						</div>
					</div>
				{{end}}
			</div>
{{end}}