.bs-docs-sidenav .fa-chevron-right {
    float: right;
    margin-top: 2px;
}

.pi-backlogs p {
    margin-bottom: 1em;
}

.pi-backlogs a.show-languages-pool {
    cursor: pointer;
}

.pi-backlogs .videos td {
    padding: 0.5em;
}

.pi-backlogs .videos th.date {
    font-weight: normal;
}

@media (prefers-color-scheme: dark) {
    .bs-docs-sidenav {
        background-color: black;
    }
    .nav-list > .active {
        background-color: #159;
    }
    .nav-list > .active > a {
        background-color: #159;
    }
    .label.idiom_id {
	    background-color: #444;
    }
    .language-coverage th[data-lang] span {
        background-color: #159;
    }
    .language-coverage tr.highlight {
        background-color: #337;
    }

    .language-coverage .highlight .idiom-title a {
        color: white;
    }
    .language-coverage .highlight {
        /* For the current column */
        background-color: #337;
    }
    .language-coverage a:hover {
	    color: #EEF;
    }
    .language-coverage a:hover .coverage-fav-lang {
	    color: #EFE;
    }
}
