body.backlog {
    background-color: #EEEEFF;
}

.backlog table {
    width:100%;
    border-collapse: separate;
}

.backlog table.singletons h3,
.backlog table.stubs h3 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.4rem;
}


.backlog table td.idiom-header {
    background-color: white;
    border: solid 3px #CCE;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom: none;
}

.backlog table td.impl-singleton {
    background-color: white;
    border: solid 3px #CCE;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 128px 48px;
}
.backlog table tr.spacer td {
    height: 0.5rem;
}
.backlog table.stubs td.idiom-header {
    border-radius: 12px;
    border-bottom: solid 3px #CCE;
}

.backlog table td.impl-singleton,
.backlog table td.idiom-header {
    padding-left: 2.5rem;
}

.backlog td.idiom-header {
    /* column-span: all; */
}

.backlog td.impl-actions {
    width: 12rem;
    vertical-align: top;
    text-align: right;
    padding-right: 0.5rem;
}

.backlog td.idiom-actions {
    /* width: 12rem; */
    vertical-align: top;
    text-align: right;
    padding-right: 0.5rem;
}

.backlog td.impl-actions button,
.backlog td.idiom-actions button {
    margin: 0.2rem;
    margin-right: -2rem;
    background-color: #2707cc;
    background-image: linear-gradient(to bottom, #6633cc, #2200cc);
    border-radius: 0.2rem;
}

.backlog .pie {
    float: left;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
    margin: 1rem;
    margin-top: -0.5rem;
}

.backlog img.logo {
    position: absolute;
    right: 5rem;
    height: 8rem;
}

.backlog p {
    padding-right: 4em;
}

/* 
 * Refreshing == fade out 
 */
.refreshing td.impl-actions button,
.refreshing td.idiom-actions button {
    background-color: #aa9ee9;
    background-image: linear-gradient(to bottom, #b8a1e6, #9b8de0);
}
.backlog .refreshing table td.idiom-header,
.backlog .refreshing table td.impl-singleton,
.backlog .refreshing pre.prettyprint,
.backlog .refreshing ul.nav.nav-tabs > li > a,
.backlog .refreshing .popover {
    background-color: #EEEEFF;
}
.backlog .refreshing .popover.right .arrow::after {
    border-right-color: #EEEEFF;
}

.btn.block-data-refresh {
    float: right;
    margin-top: 0rem;
    width: 2rem;
    max-width: 2rem;
    height: 2rem;
    max-height: 2rem;
    padding: 0.15rem;
    /*
    padding-top: 10px;
    padding-bottom: 10px;
    */
    font-size: 1.5rem;
    font-weight: bold;
    line-height: normal;
    color: #444;
}
#curation .btn.block-data-refresh {
    margin-top: -2.8rem;
}
.btn.block-data-refresh.refreshing {
    transform: rotate(90deg);
    color: #999;
}

@media (prefers-color-scheme: dark) {
    /* No real dark mode implemented in the Backlog page, for now */
    body {
        color: #333333;
    }
    a {
        color: #006699;
    }
    .popover-content {
        color: white;
    }
}