body {
    background-color: #EEF;
}
header > * {
    vertical-align: middle;
    margin: 0.2rem;
}
.header_picto {
    margin-left: 0.6rem;
}
header > h1 {
    margin: 0.2rem 0.5rem 0.2rem 0.5rem;
	max-width: 75vw;
}
h1 > a {
    text-decoration: none;
}
.greeting {
    color: #bbb;
}

@media (max-width: 479px) {
    .show-on-desktop, .show-on-tablets, .hide-on-mobile { display: none; }
}
@media (min-width: 480px) and (max-width: 979px) {
    .show-on-desktop, .hide-on-tablets, .show-on-mobile { display: none; }
}
@media (min-width: 980px) {
    .hide-on-desktop, .show-on-tablets, .show-on-mobile { display: none; }
}

.item a {
    text-decoration: none;
}

.form-search button {
    margin-top: 0.3em;
}

footer {    
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
footer > * {
    vertical-align: middle;
}
footer a {
    color: white;
}
footer div {
    margin: 0.5rem 2rem 0.5rem 2rem;
}
footer img.coverage {
    width: 2rem;
    height: 2rem;
}
footer .about-link {
    font-weight: bold;
    font-size: xx-large;
}
footer a.about-link {
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    /* Dark theme: see issues/114 */
    body {
        background-color: #003;
        color: white;
    }
    header, footer {
        background-color: #336;
    }
    a {
        color: #aac;
    }
    input[type=text], button {
        background-color: black;
        color: white;
        border-color: #444;
    }
}